<!--
	It depends on "code editor"
-->

<div data---="invisible" class="invisible">
	<div data---="inputsearch__components.search__placeholder:@(Search);$binding:1;$delay:50"></div>
	<div data---="viewbox__components.search__margin:78;parent:.ui-dockable-body;scrollbar:1;scrollbarshadow:1" class="invisible">
		<div class="partdocs"><a href="#" target="_blank" data-bind="code.data.id__href:'/docs/' + value + '/'"><i class="fa fa-cloud-download"></i>@(Download documentation)</a></div>
		<div data---="search__components.search__selector:.part">

			<div data-bind="code.data.todocurrent__template">
				<script type="text/html">
					{{ if value && value.length }}
					<div class="partscurrent">
						{{ foreach m in value }}
							<div class="part exec" data-exec="components/find" data-search="{{ m.name }}" data-todo="1" data-index="{{ $index }}" title="@(Line:) {{ m.line }}"><i class="far fa-warning red"></i>{{ m.name }}</div>
						{{ end }}
					</div>
					{{ fi }}
				</script>
			</div>

			<div data-bind="code.components__template">
				<script type="text/html">
					{{ if value && value.length }}
					<div class="partscurrent">
						{{ foreach m in value }}
							{{ if m.name.indexOf('.define(') === -1}}
							<div class="part exec{{ if m.type === 'version' }} part-version{{ fi }}{{ if m.type === 'schema' && m.name.indexOf('define') === -1 }} b{{ fi }}" data-exec="components/find" data-search="{{ m.name }}" data-index="{{ $index }}" title="@(Line:) {{ m.line }}"><i class="{{ m.type | particon }}"></i>{{ m.type | parttype }}{{ m | partvariables }}</div>
							{{ fi }}
						{{ end }}
					</div>
					{{ fi }}
				</script>
			</div>

			<div data-bind="code__track:components,componentsall__show:value&&value.components.length&&value.componentsall&&value.componentsall.length" style="height:5px" class="hidden"></div>

			<div data-bind="code.componentsall__template">
				<script type="text/html">
					{{ foreach n in value }}
						{{ if n.path }}
							<div class="partgroup hellip">{{ n.path }}</div>
						{{ fi }}
						{{ foreach m in n.items }}
							<div class="part exec" data-path="{{ n.path }}" data-exec="components/open" data-line="{{ m.line }}" data-ch="{{ m.ch }}" data-search="{{ m.name }}" data-index="{{ $index }}" title="@(Line:) {{ m.line }}"><i class="{{ m.type | particon }}"></i>{{ m.type | parttype }}{{ if m.type === 'extension' }}<span class="b mr5">@(extension:)</span>{{ fi }}{{ m | partvariables }}</div>
						{{ end }}
					{{ end }}
				</script>
			</div>
		</div>
	</div>
</div>

<script>
	PLUGIN('components', function(exports) {

		var prevpath;

		WATCH('code.components + code.componentsall', function() {
			SET('?.search', '');
		});

		exports.reload = function() {
			SETTER('dockable/show', 'prop');
			SET('?.search', '');
			exports.element.SETTER('inputsearch/focus');
			prevpath = null;
		};

		exports.find = function(el) {
			var index = +el.attrd('index');
			var tmp;
			if (el.attrd('todo')) {
				tmp = code.data.todocurrent[index];
				EXEC('code/move', tmp.line - 1, tmp.ch);
			} else {
				tmp = code.components[index];
				if (tmp.type === 'version')
					tmp.lineto = tmp.line;
				EXEC('code/move', tmp.line, tmp.ch, tmp.lineto);
			}
		};

		exports.open = function(el) {
			var path = el.attrd('path');

			if (code.editor && code.editor.path === path) {
				exports.find(el);
				return;
			}

			PLUGIN('code').element.SETTER('tree/selectpath', path);

			setTimeout2('codefileopen', function() {

				if (code.editor && code.editor.path !== path) {
					code.componentsdb = code.componentsdb.remove('path', path);
					AJAX('DELETE /api/projects/{id}/parts/'.arg(code.data), { path: path });
					UPD('code.componentsdb');
					return;
				}

				var editor = FIND('editor').editor;
				editor.setCursor({ line: (+el.attrd('line')), ch: +el.attrd('ch') });
				editor.focus();
			}, 1000);
		};

		var rebind = function() {

			if (code.editor && code.editor.path === prevpath)
				return;

			var value = code.componentsdb || EMPTYARRAY;
			var arr = [];
			var reg = (/\/(components|public|views|themes\/views)\//);
			var isclient = code.editor ? reg.test(code.editor.path) : false;

			for (var i = 0; i < value.length; i++) {
				var item = value[i];
				if (code.editor && code.editor.path !== item.path && reg.test(item.path) === isclient) {
					item.items = item.items.remove(n => n.type === 'route' || (n.type === 'schema' && n.name.indexOf('define(') !== -1));
					item.items.length && arr.push(item);
				}
			}

			prevpath = code.editor.path;
			SET('code.componentsall', arr);
		};

		WATCH('code.componentsdb', rebind, true);
		WATCH('code.components', rebind, true);
	});

	Thelpers.partvariables = function(item) {

		var val = item.name;
		var index;

		if (item.type === 'markdown') {
			index = val.indexOf(' ');
			var color = index === 1 ? 'green' : index === 2 ? 'red' : index === 3 ? 'orange' : index === 4 ? 'yellow' : 'gray';
			val = '<span class="badge badge-{1} badge-small">H{0}</span> '.format(index, color) + val.substring(index + 1).replace(/(^|\s)?\:[a-z][a-z0-9\-\s]+\:/g, ' ').replace(/"|'|`/g, '');
			return val;
		}

		if (item.type === 'route') {
			index = val.indexOf('*');
			if (index !== -1)
				val = val.substring(0, index).trim();

			index = val.indexOf(' ');
			if (index !== -1)
				val = '<strong class="monospace">' + val.substring(0, index) + '</strong> ' + val.substring(index + 1);
		}

		index = val.indexOf('(');

		if (index === -1) {
			var plus = '';

			if (item.type === 'component') {
				plus = ' <i class="pull-right fa fa-exclamation-circle red mt2"></i>';
				var stop = false;
				for (var i = 0; i < code.componentsdb.length; i++) {
					var sub = code.componentsdb[i];
					for (var j = 0; j < sub.items.length; j++) {
						var tmp = sub.items[j];
						if (tmp.type === 'htmlcomponent' && tmp.name.replace(/LAZY\s/g, '') === item.name) {
							plus = '';
							stop = true;
							break;
						}
					}
					if (stop)
						break;
				}
			}
			return val + plus;
		}

		return Thelpers.encode(val.substring(0, index)) + '<span>' + Thelpers.encode(val.substring(index)) + '</span>';
	};

	Thelpers.parttype = function(val) {
		switch (val) {
			case 'FUNC':
			case 'MAIN':
			case 'REPO':
			case 'Thelpers':
			case 'helper':
			case 'console':
				return '';
			case 'htmlcomponent':
				return '<b>component</b>';
		}
		return '<b>{0}</b>'.format(Thelpers.encode(val));
	};
</script>