<!--
	It depends on "code editor"
-->

<div data---="invisible" class="invisible" data-scope="localhostpanel">
	<div data---="viewbox__?__margin:78;parent:.ui-dockable-body;scrollbar:1;scrollbarshadow:1" class="invisible docker">
		<br />
		<div style="padding:0 15px">
			<div data-bind="?__template__show">
				<script type="text/html">
					<div class="grid-2">
						<div>
							<div class="label">Docker app</div>
							<button class="exec{{ if value.app }} stop{{ fi }}" data-exec="?/state">{{ if value.app }}<i class="ti ti-stop-alt"></i>@(Stop){{ else }}<i class="ti ti-play-alt"></i>@(Start){{ fi }}</button>
						</div>
						<div>
							<div class="label">Docker compose</div>
							<button class="exec{{ if value.custom }} stop{{ fi }}" data-exec="?/state" data-id="custom">{{ if value.custom }}<i class="ti ti-stop-alt"></i>@(Stop){{ else }}<i class="ti ti-play-alt"></i>@(Start){{ fi }}</button>
						</div>
					</div>
				</script>
			</div>
		</div>
	</div>
</div>

<script>
	PLUGIN('localhostpanel', function(exports) {

		exports.reload = function() {

			if (!code.data || !code.data.id)
				return;

			SETTER('loading/show');
			AJAX('GET /api/localhost/{id}/'.arg(code.data), ASETTER('message/response', function(response) {
				exports.scope();
				SET('?', response);
				SETTER('loading/hide', 500);
			}));
		};

		exports.state = function(el) {
			var is = el.attrd('id') ? GET('?.custom') : GET('?.app');
			var model = {};
			model.id = code.data.id;
			model.type = is ? 'stop' : 'start';
			model.iscustom = !!el.attrd('id');
			var done = function() {
				SETTER('loading/show');
				AJAX('POST /api/localhost/state/', model, ASETTER('message/response', () => exports.reload()));
			};
			if (model.type === 'start')
				SETTER('approve/show', '@(Are you sure you want to start a Docker container?)', '"ti ti-play-alt" @(Start)', done);
			else
				done();
		};
	})
</script>