@{layout('')}
@{title(config.name)}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" />
	<meta name="robots" content="all,follow" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta name="apple-mobile-web-app-title" content="@{'%name'}" />
	<link rel="stylesheet" href="/css/cdn.min.css" />
	<script src="/js/cdn.min.js"></script>
	@{import('meta', 'head', 'default.css', 'default.js', 'favicon.ico')}
</head>
<body data-jc="exec" class="@{if user.darkmode}td @{fi}invisible" data-jc-class="invisible">

	<div data-jc="loading" class="ui-loading"><div></div></div>
	<div data-jc="LAZY autocomplete__null__height:200"></div>
	<div data-jc="LAZY snackbar__null__button:@(OK)"></div>
	<div data-jc="LAZY features__null__placeholder:@(What are you looking for?)"></div>
	<div data-jc="infopanel"></div>
	<div data-jc="menu" class="hidden"></div>
	<div data-jc="confirm"></div>
	<div data-jc="shortcuts__null"></div>

	<header>
		<button class="exec" data-exec="mainmenu"><i class="fa fa-navicon"></i></button>
		<div class="tools" data-jc="selected__common.page__selector:a.R">
			<a href="@{#}/" title="@(Code)" class="R" data-if="code"><i class="fa fa-laptop-code"></i></a>
			<a href="#" data-bind="code.data.documentation__show__href" title="@(Documentation)" target="_blank" class="external hidden"><i class="fa fa-book-open"></i></a>
			<a href="#" data-bind="code.data.support__show__href" title="@(Support)" target="_blank" class="external hidden"><i class="far fa-comments"></i></a>
			@{if user.sa}
			<a href="@{#}/projects/" title="@(Projects)" class="R" data-if="projects"><i class="fab fa-app-store-ios"></i></a>
			<a href="@{#}/users/" title="@(Users)" class="R" data-if="users"><i class="fa fa-users"></i></a>
			@{fi}
			<a href="@{#}/settings/" title="@(Settings)" class="R" data-if="settings"><i class="fa fa-cog"></i></a>
			<a href="@{#}/logout/" title="@(Sign out)"><i class="fa fa-sign-out"></i></a>
		</div>
	</header>

	<div data-jc="part__common.page__if:code;url:/parts/code.html;reload:code/reload"></div>
	<div data-jc="part__common.page__if:projects;url:/parts/projects.html;reload:projects/reload;cleaner:10"></div>
	<div data-jc="part__common.page__if:users;url:/parts/users.html;reload:users/reload;cleaner:10"></div>
	<div data-jc="part__common.page__if:settings;url:/parts/settings.html;reload:settings/reload;cleaner:10"></div>

	<div data-jc="websocket__null__url:/"></div>

	@{json(user, 'userdata')}

	<script>

		var common = {};
		var user = PARSE('#userdata');

		common.id = GUID(5);
		common.electron = navigator.userAgent.indexOf('Electron') !== -1 && window.require != null;
		common.online = true;
		common.name = document.title;

		ENV('date', 'yyyy-MM-dd HH:mm');

		NAV.clientside('.R');

		ROUTE('/', function() {
			SET('common.form', '');
			SET('common.page', 'code');
		});

		ROUTE('/settings/', function() {
			SET('common.form', '');
			SET('common.page', 'settings');
		});

		ROUTE('/users/', function() {
			SET('common.form', '');
			SET('common.page', 'users');
		});

		ROUTE('/projects/', function() {
			SET('common.form', '');
			SET('common.page', 'projects');
		});

		ON('online', function(is) {
			SETTER('loading', is ? 'hide' : 'show');
			if (is && window.code && window.code.data && !common.online)
				FUNC.wsopen(code.data.id, code.editor ? code.editor.path : '', code.projectid);
			SET('common.online', is);
		});

		ON('message', function(msg) {
			switch (msg.TYPE) {
				case 'blocked':
					location.href = '/';
					break;
				case 'close':
					// close all projects
					location.href = '/offline/';
					break;
				case 'open':
					EXEC('code/collaboration', msg);
					break;
				case 'sync':
					if (msg.projectid === code.projectid && msg.id !== common.id) {
						var editor = FIND('editor').editor;
						var data = PARSE(msg.data);
						code.SYNC = false;
						editor.replaceRange(data.text, data.from, data.to);
						code.SYNC = true;
					}
					break;
				case 'syncsend':
					if (msg.projectid === code.projectid && msg.connid !== common.id) {
						SETTER('loading', 'show');
						code.SYNC = false;
						if (msg.fromid === user.id) {
							var editor = FIND('editor').editor;
							msg.TYPE = 'syncbody';
							msg.body = editor.getValue();
							FUNC.wssend(msg);
						}
					}
					break;
				case 'syncbody':
					if (msg.projectid === code.projectid && msg.connid === common.id) {
						code.SYNC = false;
						msg.TYPE = 'syncdone';
						FIND('editor').editor.setValue(msg.body);
						msg.body = null;
						FUNC.wssend(msg);
					}
					break;
				case 'syncdone':
					if (msg.projectid === code.projectid) {
						code.SYNC = true;
						SET('code.multiple', false);
						SETTER('loading', 'hide');
					}
					break;
				case 'synccur':
					if (msg.projectid === code.projectid && msg.id !== user.id && code.SYNC)
						EXEC('code/synccursor', msg);
					break;
				case 'save':
					if (msg.projectid === code.projectid && msg.id !== user.id)
						EXEC('code/syncsave', msg);
					else if (code) {
						msg.date = new Date();
						code.changes[msg.projectid] = msg;
					}

					break;
				case 'refresh':
					location.reload(true);
					break;
			}
		});

		SETTER(true, 'shortcuts', 'register', 'F1', function(e) {

			var arr = [];

			if (common.page === 'code') {

				for (var i = 0; i < code.data.files.length; i++) {
					var file = code.data.files[i];
					arr.push({ name: file, icon: 'file-o', filename: FUNC.getName(file) });
				}

				arr.quicksort('name');

				if (code.editor.path) {
					arr.unshift({ name: '@(Save)', id: 'save', icon: 'floppy-o' });
					arr.unshift({ name: '@(Reload)', id: 'reload', icon: 'refresh', keywords: 'refresh' });
				}
			}

			SETTER('features', 'show', arr, function(value) {
				if (value.filename) {
					EXEC('code/open', { path: value.name, name: value.filename });
				} else {
					switch (value.id) {
						case 'reload':
							FUNC.editor_reload();
							break;
						case 'save':
							EXEC('editor/save');
							break;
					}
				}
			});

		}, true);

		SETTER(true, 'shortcuts', 'register', 'F5', function(e) {
			EXEC('code/shortcut', 'F5');
		}, true);

		SETTER(true, 'shortcuts', 'register', 'ctrl+s,cmd+s', function(e) {
			EXEC('code/shortcut', 'save');
		}, true);

		SETTER(true, 'shortcuts', 'register', 'alt+w,cmd+w,alt+f4', function(e) {
			EXEC('code/shortcut', 'close');
		}, true);

		SETTER(true, 'shortcuts', 'register', 'esc', function(e) {

			if (window.code && window.code.statusform)
				SET('code.statusform', '');

		});

		common.electron && window.require('electron').ipcRenderer.on('tabs.close', function() {
			EXEC('code/close');
		});

		Tangular.register('time', function(value) {

			if (!value)
				return;

			var diff = Date.now() - value.parseDate().getTime();
			var minutes = ((diff / 1000) / 60) >> 0;

			if (minutes <= 1) {
				var seconds = (diff / 1000) >> 0;
				if (seconds < 60)
					return @(seconds + ' ' + Tangular.helpers.pluralize(seconds >> 0, 'seconds', 'second', 'seconds', 'seconds') + ' ago');
			}

			if (minutes < 60)
				return minutes < 3 ? '@(now)' : @(minutes + ' minutes ago');

			var hours = (minutes / 60) >> 0;
			if (hours < 24)
				return @(hours + ' ' + Tangular.helpers.pluralize(hours, 'hours', 'hour', 'hours', 'hours') + ' ago');

			var days = (hours / 24) >> 0;
			if (days < 30)
				return @(days + ' ' + Tangular.helpers.pluralize(days, 'days', 'day', 'days', 'days') + ' ago');

			var months = (days / 29) >> 0;
			if (months < 12)
				return @(months + ' ' + Tangular.helpers.pluralize(months, 'months', 'month', 'months', 'months') + ' ago');

			var years = (months / 12) >> 0;
			return @(years + ' ' + Tangular.helpers.pluralize(years, 'years', 'year', 'years', 'years') + ' ago');
		});

	</script>

</body>
</html>
