/*auto*/

$font     : Arial;
$color    : #4285F4;

html,body { margin: 0; padding: 0; overflow: hidden; }

.green { color: #5a9e48 !important; }
.red { color: red !important; }
.yellow { color: #d7cd17 !important; }
.blue { color: #4285F4 !important; }
.silver { color: #A0A0A0; }
.gray { color: gray; }
.npt { padding-top: 0 !important; }
.npb { padding-bottom: 0 !important; }
.nmt { margin-top: 0 !important; }
.nmb { margin-bottom: 0 !important; }
.mr5 { margin-right: 5px; }
.ml5 { margin-left: 5px; }
.mb10 { margin-bottom: 10px; }

.centered { width: 100%; display: table; }
.centered > div { display: table-cell; vertical-align: middle; }

.alert { background-color: #fffad7; border-bottom: 1px solid #fffdbf; padding: 15px; border-radius: 3px; color: #988e56; font-size: 12px; }
.alert i { margin-right: 5px; }
.alert .fa-times { float: right; cursor: pointer; margin: 2px 0 0; }
.fs11 { font-size: 11px; }

.alert-saved { position: absolute; right: 20px; top: 120px; background-color: yellow; color: black; width: 250px; z-index: 10; border-radius: 3px; padding: 10px; font-size: 12px; line-height: 16px; cursor: pointer; box-shadow: 0 5px 20px rgba(0,0,0,0.05); }
.alert-saved i { margin-right: 5px; color: red; }
.td .alert-saved { box-shadow: 0 5px 20px rgba(0,0,0,0.3); }

.padding { padding: 20px; }
.hidden { display: none; }
.logo { display: block; margin: 17px 20px 0; float: left; color: #505050; font-weight: bold; font-size: 18px; }
.logo i { margin-right: 10px; }

header { height: 50px; background-color: linear-gradient(white,#F0F0F0); border-bottom: 1px solid #E0E0E0; }
header > button { display: none; position: absolute; right: 0; top: 0; width: 50px; height: 49px; border: 0; color: white; background-color: #e93223; font-size: 24px; }

h1 { margin: 0 0 20px; font-family: $font; font-size: 25px; padding: 0; color: black; }
h1 i { margin-right: 10px; }

h2 { margin: 0 0 15px; font-family: $font; font-size: 20px; padding: 0; color: black; line-height: 22px; }
h2 i { margin-right: 10px; color: $color; }

h3 { margin: 0 0 10px; font-family: $font; font-size: 16px; padding: 0; color: black; line-height: 22px; }
h3 i { margin-right: 5px; color: $color; }
.td h3 { color: white; }

.b { font-weight: bold; }
.m { margin-bottom: 20px; }

#body { border-left: 1px solid #E0E0E0; min-height: 200px; margin-left: 239px; overflow: hidden; }
#body.warning .tabs span.selected  { border-top-color: red; }
#panel { width: 239px; float: left; overflow: hidden; }
#content { overflow: hidden; }
#panel .project { height: 50px; border-bottom: 1px solid #E0E0E0; background-color: #fffbed; color: black; cursor: pointer; font-size: 18px; padding: 12px 0 0 20px; font-weight: bold; }
#panel .project i { float: right; margin: 3px 15px 0 0; }
#panel .project b { margin-right: 40px; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
#panel .project:hover { background-color: #fef9e3; }
#panel .status { padding: 0; }
#panel .status button { float: left; border: 0; background-color: white; border-right: 1px solid #D0D0D0; height: 35px; width: 40px; outline: 0; }
#panel .status button i { margin-right: 0; }
#panel .status button:hover { background-color: #fffbed; }
#panel .status > span { float: right; margin: 11px 10px 0 0; font-size: 11px; }

.bg-yellow { background-color: #FFFFD5; }
.bg-smoke { background-color: #F8F8F8; }

#content .alert { padding: 7px 15px 5px; position: absolute; left: 240px; right: 0; z-index: 5; border-radius: 0; border-top: 1px solid #dddbaf; bottom: 44px; }
#content .messages {}

.projectslist { position: absolute; background-color: white; z-index: 7; top: 99px; width: 301px; border: 1px solid #E0E0E0; box-shadow: 5px 5px 10px rgba(0,0,0,0.1); }
.projectslist ul { margin: 0; padding: 0; }
.projectslist li { list-style-type: none; border-top: 1px solid #E0E0E0; padding: 8px 20px; cursor: pointer; }
.projectslist li span { float: right; font-size: 11px; background-color: red; color: white; width: 24px; text-align: center; padding: 3px 0; border-radius: 3px; }
.projectslist li:hover { background-color: #ffffd7; }
.projectslist li:first-child { border-top: 0; }
.projectslist i { margin-right: 8px; }
.projectslist .selected { font-weight: bold; }
.td .projectslist .selected { background-color: #202020 !important; }

.mainmenu { background-color: white; border-radius: 3px; padding: 30px 0 20px; }
.mainmenu .caption { font-size: 12px; font-family: $font; font-weight: 700; margin-bottom: 10px; text-transform: uppercase; color: black; border-bottom: 1px solid #E0E0E0; padding: 0 0 5px 0; }
.mainmenu .caption i { margin-right: 5px; }
.mainmenu-visible { display: block !important; }
.mainmenu .ui-dropdown select { font-weight: bold; }

.ui-panel .caption { font-size: 12px; font-family: $font; font-weight: 700; margin-bottom: 10px; text-transform: uppercase; color: black; border-bottom: 1px solid #E0E0E0; padding: 0 0 5px 0; }
.ui-panel .caption i { margin-right: 5px; }

#body .caption { font-size: 12px; font-family: $font; font-weight: 700; margin-bottom: 10px; text-transform: uppercase; color: black; border-bottom: 1px solid #E0E0E0; padding: 0 0 5px 0; }
#body .caption i { margin-right: 5px; }

.links { font-family: $font; }
.links a { display: block; border: 0; text-align: left; color: gray; font-size: 14px; border-radius: 3px; padding: 2px 10px; margin-bottom: 1px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; position: relative; }
.links .selected { font-weight: bold; color: black; background-color: #F0F0F0; }
.links a i, .links a i { width: 14px; text-align: center; font-size: 12px; margin-right: 7px; color: $color; }
.links a:hover { text-decoration: none; color: black; }
.links a b { position: absolute; font-size: 10px; right: 5px; background-color: $color; color: white; width: 16px; height: 16px; padding: 1px 0 0 0; border-radius: 100px; text-align: center; margin: 2px 0 0; }

.help { font-size: 11px; color: #A0A0A0; margin-top: 8px; line-height: 13px; }
.help i { margin-right: 5px; }
.help code { font: normal normal 11px Arial; background-color: #F0F0F0; padding: 1px 3px; border-radius: 2px; border: 1px solid #E0E0E0; }
.td .help { color: #505050; }
.td .help code { background-color: #353535; border-color: #303030; color: #777777; }

.table-small { font-size: 12px; }
.table-small > tbody > tr > td { padding: 3px 5px; }

header .user { float: right; margin: 0; padding: 8px 20px 0; height: 49px; border-left: 1px solid #E0E0E0; }
header .user .avatar { border-radius: 100px; width: 30px; height: 30px; background-color: $color; text-align: center; font-family: $font; color: white; font-size: 14px; padding: 4px 0 0 0; font-weight: bold; }
header .tools { font-size: 18px; padding: 0; }
header .tools a { color: black; position: relative; display: inline-block; transition: color 0.5s; font-size: 12px; line-height: 14px; border-right: 1px solid #E0E0E0; height: 49px; vertical-align: top; padding: 16px 0 0 0; text-align: center; width: 60px; font-size: 16px; }
header .tools a:hover { text-decoration: none; background-color: #F0F0F0; }
header .tools .selected { background-color: #F0F0F0; }
header .tools .external { color: #a2a286; }

.panel-scroller { width: 300px; padding-right: 60px; overflow-y: auto; height: 100%; }

.panel { background-color: white; border-radius: 3px; border: 1px solid #E9E9E9; }
.panel > label { display: block; padding: 10px 20px; border-bottom: 1px solid #E0E0E0; font-size: 14px; font-weight: bold; }
.panel > label i { margin-right: 5px; }
.panel .body { padding: 20px; position: relative; }

.td .panel { background-color: #252525; border-color: #353535; }
.td .panel > label { background-color: #252525; border-bottom-color: #353535; }


.button { background-color: $color; border: 0; color: white; cursor: pointer; outline: 0; width: 100%; border-radius: 3px; height: 44px; text-transform: uppercase; font-family: Arial; }
.button:hover { box-shadow: 0 2px 5px rgba(0,0,0,0.1); opacity: 0.9; }
.button:disabled { background-color: #E0E0E0; color: silver; cursor: not-allowed; box-shadow: none; opacity: 1; }
.button i { margin-right: 5px; }

.td button:disabled { background-color: #303030; color: #505050; }

.header { height: 45px; }
.header > span { font-size: 17px; font-weight: bold; float: left; margin: 2px 0 0 0; color: black; }
.header > span i { margin-right: 8px; color: $color; }
.header > div { float: right; margin: 2px 0 0; }

.tabmenu { padding: 0; margin: 0; display: block; position: relative; font-size: 12px; margin-bottom: 15px; border-radius: 3px; float: left; }
.tabmenu li { float: left; margin: 0; padding: 0; background-color: white; text-align: center; padding: 5px 10px 0; color: $color; cursor: pointer; min-width: 100px; max-width: 150px; font-weight: bold; height: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; border: 1px solid $color; border-left: 0; }
.tabmenu li:first-child { margin-left: 0; border-top-left-radius: 3px; border-bottom-left-radius: 3px; border-left: 1px solid $color; }
.tabmenu li:last-child { margin-left: 0; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.tabmenu .selected { background-color: $color; color: white; }
.tabmenu i { margin-right: 8px; }

.toolbar { margin-bottom: 15px; height: 26px; }
.toolbar button { outline: 0; background-color: #F0F0F0; border: 1px solid #E0E0E0; border-left: 0; font-size: 12px; height: 26px; padding: 0 8px; margin: 0; color: black; min-width: 80px; }
.toolbar button i { margin-right: 5px; }
.toolbar button:first-child { border-left: 1px solid #E0E0E0; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.toolbar button:last-child { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.toolbar button:hover { background-color: #F0F0F0; border-color: #D0D0D0; }
.toolbar button:disabled { color: silver; cursor: not-allowed; background-color: #E0E0E0; border-color: #E0E0E0 !important; box-shadow: none; }
.toolbar button:disabled .fa, .toolbar button:disabled .far, .toolbar button:disabled .fa { color: silver; }
.toolbar button.right { float: right; margin-left: 5px; margin-right: 0; }
.toolbar button .fa-check-circle { color: #68B25B; }
.toolbar .highlight { background-color: #FFFFD5; }
.toolbar-right { float: right; }

.td .toolbar button { background-color: #252525; border-color: #353535; color: #A0A0A0; }
.td .toolbar button:hover { background-color: #303030; }
.td .toolbar button:disabled { color: gray; background-color: #282828 !important; border-color: #252525 !important; }
.td .toolbar button:disabled .fa, .toolbar button:disabled .far, .toolbar button:disabled .fa { color: silver; }

.badge { font-size: 12px; padding: 4px 6px; border-radius: 2px; background-color: #F0F0F0; line-height: 12px; vertical-align: middle; margin-top: -2px; position: relative; display: inline-block; color: white; margin-right: 5px; }
.badge .fa { margin-right: 3px; }
.badge-blue { background-color: #4CC1E9; }
.badge-red { background-color: #DA4453; }
.badge-green { background-color: #8CC152; }
.badge-yellow { background-color: #EFDC05; }
.badge-orange { background-color: #E9573F; }
.badge-gray { background-color: #606060; }
.badge-purple { background-color: #967ADC; }
.badge-pink { background-color: #D770AD; }
.badge-silver { background-color: #E0E0E0; color: gray; }
.badge-large { padding: 3px 8px; font-size: 14px; line-height: 16px; }
.badge-large .fa { margin-right: 5px; }
.badge-small { font-size: 10px; padding: 0px 3px 1px; }

.tabs { height: 50px; background-color: #F0F0F0; border-bottom: 1px solid #E0E0E0; position: relative; }
.tabs, .tabs * { user-select: none; }
.tabs nav { position: absolute; margin: 15px 0 0 50px; }
.tabs nav span { position: relative; display: inline-block; max-width: 150px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; height: 34px; background-color: #E0E0E0; padding: 8px 15px 0 25px; border-radius: 3px 3px 0 0; margin-left: 10px; font-size: 12px; border: 1px solid #E0E0E0; border-bottom: 0; cursor: pointer; color: gray; vertical-align: top; }
.tabs nav .selected { background-color: white; height: 35px; color: black; box-shadow: 0 -1px 5px rgba(0,0,0,0.05); height: 36px; }
.tabs nav i { color: gray; font-size: 11px; position: absolute; left: 10px; top: 10px; width: 14px; }
.tabs nav .modified i { color: red; left: 8px; top: 9px; }
.tabs nav i:before { content: '\f00d'; }
.tabs nav .modified i:before { content: '\f111'; font-size: 10px; }
.tabs nav i:hover { color: red; left: 10px; }
.tabs nav i:hover:before { content: '\f00d'; font-size: 11px; }
.tabs .options { position: absolute; left: 21px; font-size: 20px; top: 12px; cursor: pointer; }
.tabs .options:hover { color: black; }
.tabs .preview { float: right; font-size: 20px; margin: 12px 20px 0 0; cursor: pointer; color: #4285F4; }
.tabs .preview:hover { opacity: 0.6; }
.td .tabs .options:hover { color: white; }

.status { height: 35px; border-top: 1px solid #E0E0E0; padding: 0 0 0 10px; font-size: 12px; }
.status-alerts { padding: 9px 0 0; cursor: pointer; position: relative; display: inline-block; vertical-align: top; height: 34px; }
.status i { margin-right: 5px; }
.status-info { padding: 10px 0 0 10px; font-size: 12px; position: relative; display: inline-block; border-left: 1px solid #E0E0E0; margin-left: 10px; height: 34px; vertical-align: top; color: black; }
.td .status-info { border-left-color: #404040; color: white; font-family: Menlo,Consolas,monospace; }

@media(max-width: 767px) {
	.mainmenu { position: absolute; left: 0; right: 0; z-index: 5; padding: 0; display: none; top: 0; overflow: hidden; }
	.mainmenu .scroller-xs { padding: 20px; overflow-y: auto; overflow-scrolling: touch; }
	#body { border-left: 0; margin-left: 0; padding: 10px; }
	header .tools { margin-right: 65px; }
	header .tools span { display: none; }
	header .user { display: none; }
	header > button { display: block; }
}

.right { text-align: right; }
.center { text-align: center; }
.initials { width: 31px; height: 31px; text-align: center; color: white; border-radius: 100px; display: inline-block; position: relative; vertical-align: middle; padding: 7px 0 0; font-weight: bold; cursor: default; font-size: 12px; }

.collaborators { position: absolute; right: 0; top: 0; }
.collaborators section { display: inline-block; }
.collaborators .tools { float: right; font-size: 18px; padding: 0; }
.collaborators .tools span { color: black; position: relative; display: inline-block; transition: color 0.5s; font-size: 12px; line-height: 14px; border-left: 1px solid #E0E0E0; height: 49px; vertical-align: top; padding: 16px 0 0 0; text-align: center; width: 50px; font-size: 16px; cursor: pointer; }
.collaborators .tools span:hover { text-decoration: none; background-color: #F0F0F0; }
.collaborators .tools span b { position: absolute; width: 20px; height: 20px; background-color: red; color: white; padding: 2px 0 0; font-size: 10px; border-radius: 100px; z-index: 1; margin: -10px 0 0 5px; }
.collaborators .tools .selected { background-color: #F0F0F0; }
.collaborators .initials { width: 50px; height: 49px; border-radius: 0; font-size: 18px; padding-top: 12px; margin: 0; float: left; }

.status-collaborators { position: relative; float: right; margin: 0; }
.status .initials { width: 35px; height: 35px; padding: 8px 0 0; font-size: 14px; border-radius: 0; float: left; }

.statusform { position: absolute; bottom: 36px; background-color: #F0F0F0; left: 0; right: 0; height: 40px; z-index: 6; border-top: 1px solid #E0E0E0; padding: 8px 10px 0; }
.statusform-item input { width: 100%; outline: 0; border: 0; background-color: #F0F0F0; }

/* THEME DARK */
.td { background-color: #202020; color: gray; }
.td #body { border-left-color: #353535; }
.td .tabs { border-bottom-color: #22242b; background-color: #181a1f; }
.td header { border-bottom-color: #353535; }
.td header .tools a { color: white; border-right-color: #353535; }
.td header .tools a:hover { background-color: #282828; }
.td header .tools .selected { background-color: #303030; }
.td header .tools .external { color: #e8d68f; }
.td .collaborators .tools .selected { background-color: #303030; }
.td .collaborators .tools span { border-left-color: #353535; color: white; }
.td .collaborators .tools span:hover { text-decoration: none; background-color: #303030; }
.td .status { border-top-color: #353535; }
.td #panel .status button { background-color: #202020; border-right-color: #353535; color: white; }
.td #panel .status button:hover { background-color: #303030; }
.td .ui-tree { background-color: #202020; }
.td #panel .project { background-color: black; color: white; border-bottom-color: black; }
.td #panel .project:hover { background-color: #101010; }
.td .projectslist li { border-top-color: #353535; color: white; }
.td .projectslist li:hover { background-color: #202020; }
.td .projectslist { background-color: #101010; border-color: #353535; }
.td .ui-tree .expand { color: #a9aaae; }
.td .ui-tree .item { border-bottom-color: #353535; }
.td .ui-tree .item:hover { background-color: #303030; }
.td .ui-tree .selected { background-color: #404040 !important; color: white; }
.td .tabs nav { margin-left: 49px; }
.td .tabs nav .selected { background-color: #282c34; color: white; border-color: #181a1f; }
.td .tabs nav span { border-color: #22242b; color: gray; background-color: #1d2027; }
.td .CodeMirror { background-color: #282c34; }
.td .CodeMirror-activeline-background { background-color: rgba(0,0,0,0.1); }

.td .cm-s-default .cm-qualifier { color: gray; }
.td .CodeMirror { color: #A0A0A0; }
.td div.CodeMirror-selected { background: #49483E; }
.td .CodeMirror-line::selection, .td .CodeMirror-line > span::selection, .td .CodeMirror-line > span > span::selection { background: rgba(73, 72, 62, .99); }
.td .CodeMirror-line::-moz-selection, .td .CodeMirror-line > span::-moz-selection, .td .CodeMirror-line > span > span::-moz-selection { background: rgba(73, 72, 62, .99); }
.td .CodeMirror-gutters { background: #272822; border-right: 0px; }
.td .CodeMirror-guttermarker { color: white; }
.td .CodeMirror-guttermarker-subtle { color: #d0d0d0; }
.td .CodeMirror-linenumber { color: gray; }
.td .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }
.CodeMirror-linenumber { font-size: 12px; }

.td span.cm-comment { color: #75715e; }
.td span.cm-atom { color: #ae81ff; }
.td span.cm-number { color: #ae81ff; }

.td span.cm-comment.cm-attribute { color: #97b757; }
.td span.cm-comment.cm-def { color: #bc9262; }
.td span.cm-comment.cm-tag { color: #bc6283; }
.td span.cm-comment.cm-type { color: #5998a6; }

.td span.cm-property, .td span.cm-attribute { color: #a6e22e; }
.td span.cm-keyword { color: #f92672; }
.td span.cm-builtin { color: #66d9ef; }
.td span.cm-string { color: #e6db74; }

.td span.cm-variable { color: #f8f8f2; }
.td span.cm-variable-2 { color: #9effff; }
.td span.cm-variable-3, .td span.cm-type { color: #66d9ef; }
.td span.cm-def { color: #fff9a1; }
.td span.cm-bracket { color: #f8f8f2; }
.td span.cm-tag { color: #f92672; }
.td span.cm-header { color: #ae81ff; }
.td span.cm-link { color: #ae81ff; }
.td span.cm-error { background: #f92672; color: #f8f8f0; }

.td .CodeMirror-matchingbracket { text-decoration: underline; color: white !important }
.td .CodeMirror-gutters { background-color: #181a1f !important; }

.td span.cm-variable-T { color: #61afef; background-color: rgba(97,175,239,0.1); }
.td span.cm-variable-L { color: #56b6c2; background-color: rgba(86,182,194,0.1); }
.td span.cm-variable-A { color: #c678dd; background-color: rgba(198,120,221,0.1); }

.td .CodeMirror-simplescroll-horizontal div, .td .CodeMirror-simplescroll-vertical div { background: #151515; }
.td .CodeMirror-simplescroll-horizontal, .td .CodeMirror-simplescroll-vertical { background: #303030; }
.td .CodeMirror-overlayscroll-horizontal div, .td .CodeMirror-overlayscroll-vertical div { background: #151515; }
.td .CodeMirror-scrollbar-filler { background-color: #202020; }
.td .ui-tree .item span { color: white !important; }
.td .statusform { border-top-color: #353535; background-color: #252525; }
.td .statusform input { background-color: #252525; color: #A0A0A0; }

.td .CodeMirror-ruler { border-color: #505050; }
.td .cm-tab { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAALUlEQVR4AWNwL/AZ0njEe2DUA6Me+P//vzGQAaZBeCjwR5PQ4MGjHhj1wKgHANFXkNnNqgRuAAAAAElFTkSuQmCC) no-repeat 100% 50%; }
.td .ui-panel-title .ui-panel-button-close { border-left-color: #353535; }
.td hr { border-color: #181818; }

.infopanel-line { font-size: 12px; cursor: pointer; padding: 1px 4px; border-radius: 3px; }
.infopanel-line b { float: right; width: 24px; text-align: right; color: red; }
.infopanel-line:hover { background-color: #E0E0E0; }
.infopanel-line span { margin-right: 24px; display: block; min-width: 200px; max-width: 400px; font-family: Menlo,Consolas; color: black; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

.infopanel-online { font-size: 11px; padding: 5px; color: #505050; border-top: 1px solid #E0E0E0; line-height: 14px; }
.infopanel-online b { display: block; color: black; }
.infopanel-online span { display: block; min-width: 200px; max-width: 400px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.infopanel-online:first-child { border-top: 0; }

.td .infopanel-line:hover { background-color: #303030; }
.td .infopanel-line span { color: white; }
.td .infopanel-online { color: #A0A0A0; border-top-color: #353535; }
.td .infopanel-online b { color: white; }

.backupitem { padding: 11px 20px; border-top: 1px solid #E0E0E0; cursor: pointer; }
.backupitem:hover { background-color: #F0F0F0; }
.backupitem:first-child { border-top: 0; }
.backupitem .photo { float: left; width: 31px; }
.backupitem .meta { margin-left: 40px; font-size: 12px; }
.backupitem .user { font-size: 11px; }
.backupitem .date { font-weight: bold; }
.backupitem .date span { font-weight: normal; float: right; }
.backupitem i { margin-right: 5px; }
.td .backupitem { border-top: 1px solid #303030; }
.td .backupitem:hover { background-color: #202020; }
