/*auto*/

$font     : Arial;
$color    : #4285F4;

html,body { margin: 0; padding: 0; overflow: hidden; }

::selection { background: #60307F; color: white; }
::-moz-selection { background: #60307F; color: white; }

.version { position: absolute; font-size: 9px; z-index: 1; left: 210px; top: 55px; }
.electron .version { top: 77px; }
.yellow { color: #d7cd17 !important; }
.gray { color: gray; }
.ml5 { margin-left: 5px; }
.mb10 { margin-bottom: 10px; }

#currentcolor { position: absolute; right: 30px; top: 150px; width: 60px; height: 60px; background-color: red; z-index: 10; border: 1px solid rgba(0,0,0,0.2); box-shadow: 0 3px 5px rgba(0,0,0,0.1); }
.codepanel #currentcolor { right: 380px; }
.electron #currentcolor { top: 170px; }

.search { height: 28px; border-bottom: 1px solid #E0E0E0; font-size: 12px; }
.search > span { width: 74px; border-right: 1px solid #E0E0E0; float: left; line-height: 28px; text-align: center; color: #A0A0A0; }
.search > span i { margin-right: 5px; }
.search > div { margin: 0 75px; }
.search > div input { width: 100%; height: 27px; border: 0; padding: 0 5px; margin: 0; outline: 0; color: black; font-weight: bold; }
.search > nav { float: right; }
.search > nav button { width: 24px; height: 27px; outline: 0; background-color: white; border: 0; font-size: 11px; border-left: 1px solid #E0E0E0; border-radius: 0; }
.search > nav button:disabled { color: #C0C0C0; }
.codepanel .search { margin-right: 350px; }

.td .search { border-bottom-color: #353535; background-color: #282C34; }
.td .search > span { border-right-color: #353535; color: #777777; border-bottom: 1px solid #353535; line-height: 27px; }
.td .search > div input { background-color: #282C34; color: white; }
.td .search > nav button { background-color: #282C34; color: white; border-left-color: #353535; }
.td .search > nav button:disabled { color: #505050; }

.bbfooter { position: absolute; bottom: 0; border-bottom: 1px solid #E0E0E0; height: 1px; left: 1px; right: 1px; z-index: 10; }
.td .bbfooter { border-bottom-color: #303030; }

#clipboard { border: 1px solid #D0D0D0; position: absolute; right: 30px; height: 252px; bottom: 65px; left: 265px; background-color: white; z-index: 9; border-radius: 3px; overflow: hidden; box-shadow: 0 2px 20px rgba(0,0,0,0.1); }
#clipboard .titlebar { height: 30px; border-bottom: 1px solid #D0D0D0; line-height: 30px; padding: 0 10px; font-size: 12px; font-weight: bold; color: black; }
#clipboard .titlebar .fa-times { float: right; color: red; cursor: pointer; height: 30px; line-height: 30px; }
#clipboard .titlebar .fa-clipboard { margin-right: 5px; color: #8CC152; }
#clipboard textarea { width: 100%; height: 222px; outline: 0; background-color: transparent; border: 0; font-family: Menlo,Consolas,monospace; padding: 10px; margin: 0; color: black; resize: none; }
.codepanel #clipboard { right: 380px; }
.td #clipboard textarea { color: white; }

.td #clipboard { border-color: #404040; background-color: #303030; }
.td #clipboard .titlebar { border-bottom-color: #404040; color: white; }
.td #clipboard .body { color: white; }

.timespent { padding: 20px 0; }
.timespent-date { font-size: 18px; color: black; margin-bottom: 20px; }
.timespent-date i { margin-right: 8px; color: #D0D000; }
.timespent-date b { color: black; }
.timespent-item { border-bottom: 1px solid #E0E0E0; height: 24px; font-size: 12px; line-height: 24px; color: gray; }
.timespent-item i { width: 16px; color: #505050; }
.timespent-item b { float: right; color: black; }
.timespent-item.b { color: black; margin-bottom: 3px; }
.timespent-user { margin-left: 12px; border-bottom-width: 0; font-size: 11px; height: 19px; line-height: 19px; }
.timespent-user:last-child { margin-bottom: 5px; }
.timespent-user b { color: gray; }

.td .timespent-date { color: white; }
.td .timespent-item { border-bottom-color: #404040; color: gray; }
.td .timespent-date b { color: yellow; }
.td .timespent-date i { color: #C7C764; }
.td .timespent-item b { color: white; }
.td .timespent-item i { color: #505050; }
.td .timespent-item.b { color: #E0E0E0; }
.td .timespent-user b { color: gray; }

#combo { position: absolute; font-size: 10px; right: 47px; top: 50px; z-index: 2; line-height: 18px; text-align: center; color: black; cursor: pointer; }
#combo .rating { font-size: 20px; text-align: center; font-family: Arial; position: absolute; width: 140px; margin-left: -34px; text-align: center; text-transform: uppercase; font-weight: bold; }
#combo .progress { height: 3px; margin: 0 auto; background-color: #505050; border-radius: 10px; width: 5%; }
#combo b { font-size: 20px; display: block; height: 26px; }
#combo .rating-animate { margin-top: 20px; opacity: 0; }
#combo .info { height: 50px; border-right: 1px solid #E0E0E0; width: 80px; padding: 4px 0 0; }
.td #combo .info { border-right-color: #353535; }

.td #combo { color: white; }
.codepanel #combo { right: 397px; }

.td .timespent hr { border-color: #303030; border-top-width: 4px; }

#realtimewindow { position: absolute; right: 55px; bottom: 85px; border: 1px solid #D0D0D0; background-color: rgba(255,255,255,0.94); z-index: 10; width: 640px; box-shadow: 1px 1px 5px rgba(0,0,0,0.02); border-radius: 3px; }
#realtimewindow .titlebar { height: 30px; border-bottom: 1px solid #D0D0D0; line-height: 30px; padding: 0 0 0 10px; font-size: 12px; font-weight: bold; }
#realtimewindow .titlebar .fa-times, #realtimewindow .titlebar .fa-trash { float: right; color: red; cursor: pointer; height: 30px; line-height: 30px; width: 30px; text-align: center; }
#realtimewindow .titlebar .fa-trash { border-right: 1px solid #E0E0E0; color: gray; }
#realtimewindow .titlebar .fa-trash:hover { color: black; }
.td #realtimewindow .titlebar .fa-trash:hover { color: white; }
#realtimewindow .titlebar .fa-spinner { margin-right: 5px; color: #8CC152; }
#realtimewindow .body { width: 670px; height: 260px; white-space: pre-wrap; font-family: Menlo,Consolas,monospace; overflow-y: scroll; overflow-x: hidden; color: black; font-size: 11px; margin-right: 40px; padding: 10px 30px 10px 10px; overflow-scrolling: touch; }
#realtimewindow .body-scrollbar { width: 640px; overflow: hidden; }

.td #realtimewindow { border-color: #404040; background-color: rgba(40,40,40,0.94); }
.td #realtimewindow .titlebar { border-bottom-color: #404040; }
.td #realtimewindow .body { color: white; }
.td #realtimewindow .titlebar .fa-trash { border-right-color: #404040; }

.centered { width: 100%; display: table; }
.centered > div { display: table-cell; vertical-align: middle; }

.alert { background-color: #fffad7; border-bottom: 1px solid #fffdbf; padding: 15px; border-radius: 3px; color: #988e56; font-size: 12px; }
.alert i { margin-right: 5px; }
.alert .fa-times { float: right; cursor: pointer; margin: 2px 0 0; }
.fs11 { font-size: 11px; }

.alert-saved { position: absolute; right: 20px; top: 120px; background-color: yellow; color: black; width: 250px; z-index: 30; border-radius: 3px; padding: 10px; font-size: 12px; line-height: 16px; cursor: pointer; box-shadow: 0 5px 20px rgba(0,0,0,0.05); }
.alert-saved i { margin-right: 5px; color: red; }
.td .alert-saved { box-shadow: 0 5px 20px rgba(0,0,0,0.3); }

.logo { display: block; margin: 17px 20px 0; float: left; color: #505050; font-weight: bold; font-size: 18px; }
.logo i { margin-right: 10px; }

.windowtitlebar { -webkit-app-region: drag; display: none; text-align: right; font-size: 9px; line-height: 22px; padding-right: 8px; }
.electron .windowtitlebar { height: 22px; border-bottom: 1px solid #E0E0E0; user-select: none; display: block; color: gray; }
.electron .collaborators { top: 22px; }
.electron #combo { top: 72px; }
.td .windowtitlebar { border-bottom-color: #303030; }

header { height: 50px; background-color: linear-gradient(white,#F0F0F0); border-bottom: 1px solid #E0E0E0; -webkit-app-region: drag; user-select: none; }
header > button { display: none; position: absolute; right: 0; top: 0; width: 50px; height: 49px; border: 0; color: white; background-color: #e93223; font-size: 24px; user-select: none; }
.electron-header-border { border-top: 1px solid #E0E0E0; }
.td .electron-header-border { border-top-color: #303030; }

h1 { margin: 0 0 20px; font-family: $font; font-size: 25px; padding: 0; color: black; }
h1 i { margin-right: 10px; }

h2 { margin: 0 0 15px; font-family: $font; font-size: 20px; padding: 0; color: black; line-height: 22px; }
h2 i { margin-right: 10px; color: $color; }

h3 { margin: 0 0 10px; font-family: $font; font-size: 16px; padding: 0; color: black; line-height: 22px; }
h3 i { margin-right: 5px; color: $color; }
.td h3 { color: white; }

.h { font-size: 20px; color: white; height: 50px; line-height: 50px; font-weight: bold; border-bottom: 1px solid #303030; margin-bottom: 10px; }
.h i { margin-right: 8px; }
.timespent pre { font-family: Menlo,Consolas,monospace; font-size: 14px; color: #C0C0C0; }
.timespent pre b { color: yellow; }

.m { margin-bottom: 20px; }

#body { border-left: 1px solid #E0E0E0; min-height: 200px; margin-left: 240px; overflow: hidden; }
#body.warning .tabs span.selected  { border-top-color: red; }
#panel { width: 240px; float: left; overflow: hidden; }
#content { overflow: hidden; }
#panel .project { height: 50px; border-bottom: 1px solid #E0E0E0; background-color: #fffbed; color: black; cursor: pointer; font-size: 18px; padding: 12px 0 0 18px; font-weight: bold; }
#panel .project i { float: right; margin: 3px 12px 0 0; }
#panel .project b { margin-right: 40px; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
#panel .project:hover { background-color: #fef9e3; }
#panel .status { padding: 0; }
#panel .status button { float: left; border: 0; background-color: white; border-left: 1px solid #D0D0D0; height: 35px; width: 40px; outline: 0; }
#panel .status button i { margin-right: 0; }
#panel .status button:hover { background-color: #fffbed; }
#panel .status > span { float: right; margin: 11px 10px 0 0; font-size: 11px; width: 60px; text-align: center; }
#panel .status button:first-child { border-left: 0; }

.bg-yellow { background-color: #FFFFD5; }
.bg-smoke { background-color: #F8F8F8; }

#content .alert { padding: 7px 15px 5px; position: absolute; left: 241px; right: 0; z-index: 26; border-radius: 0; border-top: 1px solid #dddbaf; bottom: 44px; }
.codepanel #content .alert { right: 358px; }

.projectslist { position: absolute; background-color: white; z-index: 7; top: 99px; width: 301px; border: 1px solid #E0E0E0; box-shadow: 5px 5px 10px rgba(0,0,0,0.1); }
.projectslist ul { margin: 0; padding: 0; }
.projectslist li { list-style-type: none; border-top: 1px solid #E0E0E0; padding: 8px 20px; cursor: pointer; }
.projectslist li span { float: right; font-size: 11px; background-color: red; color: white; width: 24px; text-align: center; padding: 3px 0; border-radius: 3px; }
.projectslist li:hover { background-color: #ffffd7; }
.projectslist li:first-child { border-top: 0; }
.projectslist i { margin-right: 8px; }
.projectslist .selected { font-weight: bold; }
.td .projectslist .selected { background-color: #202020 !important; }

.mainmenu { background-color: white; border-radius: 3px; padding: 30px 0 20px; }
.mainmenu .caption { font-size: 12px; font-family: $font; font-weight: 700; margin-bottom: 10px; text-transform: uppercase; color: black; border-bottom: 1px solid #E0E0E0; padding: 0 0 5px 0; }
.mainmenu .caption i { margin-right: 5px; }
.mainmenu-visible { display: block !important; }
.mainmenu .ui-dropdown select { font-weight: bold; }

.ui-panel .caption { font-size: 12px; font-family: $font; font-weight: 700; margin-bottom: 10px; text-transform: uppercase; color: black; border-bottom: 1px solid #E0E0E0; padding: 0 0 5px 0; }
.ui-panel .caption i { margin-right: 5px; }

#body .caption { font-size: 12px; font-family: $font; font-weight: 700; margin-bottom: 10px; text-transform: uppercase; color: black; border-bottom: 1px solid #E0E0E0; padding: 0 0 5px 0; }
#body .caption i { margin-right: 5px; }

.links { font-family: $font; }
.links a { display: block; border: 0; text-align: left; color: gray; font-size: 14px; border-radius: 3px; padding: 2px 10px; margin-bottom: 1px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; position: relative; }
.links .selected { font-weight: bold; color: black; background-color: #F0F0F0; }
.links a i, .links a i { width: 14px; text-align: center; font-size: 12px; margin-right: 7px; color: $color; }
.links a:hover { text-decoration: none; color: black; }
.links a b { position: absolute; font-size: 10px; right: 5px; background-color: $color; color: white; width: 16px; height: 16px; padding: 1px 0 0 0; border-radius: 100px; text-align: center; margin: 2px 0 0; }

.td .help { color: #505050; }
.td .help code { background-color: #353535; border-color: #303030; color: #777777; }
.td .help .link { color: #79d0ff; }

.red2 { color: #935050 !important; }

.table-small { font-size: 12px; }
.table-small > tbody > tr > td { padding: 3px 5px; }

header .user { float: right; margin: 0; padding: 8px 20px 0; height: 49px; border-left: 1px solid #E0E0E0; }
header .user .avatar { border-radius: 100px; width: 30px; height: 30px; background-color: $color; text-align: center; font-family: $font; color: white; font-size: 14px; padding: 4px 0 0 0; font-weight: bold; }
header .tools { font-size: 18px; padding: 0; }
header .tools a { color: black; position: relative; display: inline-block; transition: color 0.5s; font-size: 12px; line-height: 14px; border-right: 1px solid #E0E0E0; height: 49px; vertical-align: top; padding: 16px 0 0 0; text-align: center; width: 48px; font-size: 16px; outline: 0; }
header .tools a:first-child { width: 49px; }
header .tools a:hover { text-decoration: none; background-color: #F0F0F0; }
header .tools .selected { background-color: #F0F0F0; }
header .tools .external { color: #a2a286; }
.electron-header-border .tools a { height: 48px; }

.panel-scroller { width: 240px; height: 100%; }

.panel { background-color: white; border-radius: 3px; border: 1px solid #E9E9E9; }
.panel > label { display: block; padding: 10px 20px; border-bottom: 1px solid #E0E0E0; font-size: 14px; font-weight: bold; }
.panel > label i { margin-right: 5px; }
.panel .body { padding: 20px; position: relative; }

.td .panel { background-color: #252525; border-color: #353535; }
.td .panel > label { background-color: #252525; border-bottom-color: #353535; color: white; }
.td .panel .help a { color: gray; }

.button { background-color: $color; border: 0; color: white; cursor: pointer; outline: 0; width: 100%; border-radius: 3px; height: 44px; text-transform: uppercase; font-family: Arial; }
.button:hover { box-shadow: 0 2px 5px rgba(0,0,0,0.1); opacity: 0.9; }
.button:disabled { background-color: #E0E0E0; color: silver; cursor: not-allowed; box-shadow: none; opacity: 1; }
.button i { margin-right: 5px; }

.td button:disabled { background-color: #303030; color: #505050; }

.header { height: 45px; }
.header > span { font-size: 17px; font-weight: bold; float: left; margin: 2px 0 0 0; color: black; }
.header > span i { margin-right: 8px; color: $color; }
.header > div { float: right; margin: 2px 0 0; }

.tabmenu { padding: 0; margin: 0; display: block; position: relative; font-size: 12px; margin-bottom: 15px; border-radius: 3px; float: left; }
.tabmenu li { float: left; margin: 0; padding: 0; background-color: white; text-align: center; padding: 5px 10px 0; color: $color; cursor: pointer; min-width: 100px; max-width: 150px; font-weight: bold; height: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; border: 1px solid $color; border-left: 0; }
.tabmenu li:first-child { margin-left: 0; border-top-left-radius: 3px; border-bottom-left-radius: 3px; border-left: 1px solid $color; }
.tabmenu li:last-child { margin-left: 0; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.tabmenu .selected { background-color: $color; color: white; }
.tabmenu i { margin-right: 8px; }

.toolbar { margin-bottom: 15px; height: 26px; }
.toolbar button { outline: 0; background-color: #F0F0F0; border: 1px solid #E0E0E0; border-left: 0; font-size: 12px; height: 26px; padding: 0 8px; margin: 0; color: black; min-width: 80px; }
.toolbar button i { margin-right: 5px; }
.toolbar button:first-child { border-left: 1px solid #E0E0E0; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.toolbar button:last-child { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.toolbar button:hover { background-color: #F0F0F0; border-color: #D0D0D0; }
.toolbar button:disabled { color: silver; cursor: not-allowed; background-color: #E0E0E0; border-color: #E0E0E0 !important; box-shadow: none; }
.toolbar button:disabled .fa, .toolbar button:disabled .far, .toolbar button:disabled .fa { color: silver; }
.toolbar button.right { float: right; margin-left: 5px; margin-right: 0; }
.toolbar button .fa-check-circle { color: #68B25B; }
.toolbar .highlight { background-color: #FFFFD5; }
.toolbar-right { float: right; }

.td .toolbar button { background-color: #252525; border-color: #353535; color: #A0A0A0; }
.td .toolbar button:hover { background-color: #303030; }
.td .toolbar button:disabled { color: gray; background-color: #282828 !important; border-color: #252525 !important; }
.td .toolbar button:disabled .fa, .toolbar button:disabled .far, .toolbar button:disabled .fa { color: silver; }

.badge { font-size: 12px; padding: 4px 6px; border-radius: 2px; background-color: #F0F0F0; line-height: 12px; vertical-align: middle; margin-top: -2px; position: relative; display: inline-block; color: white; margin-right: 5px; }
.badge .fa { margin-right: 3px; }
.badge-blue { background-color: #4CC1E9; }
.badge-red { background-color: #DA4453; }
.badge-green { background-color: #8CC152; }
.badge-yellow { background-color: #EFDC05; }
.badge-orange { background-color: #E9573F; }
.badge-gray { background-color: #606060; }
.badge-purple { background-color: #967ADC; }
.badge-pink { background-color: #D770AD; }
.badge-silver { background-color: #E0E0E0; color: gray; }
.badge-large { padding: 3px 8px; font-size: 14px; line-height: 16px; }
.badge-large .fa { margin-right: 5px; }
.badge-small { font-size: 10px; padding: 0px 3px 1px; }

.tabs { height: 50px; background-color: #F0F0F0; border-bottom: 1px solid #E0E0E0; position: relative; }
.tabs, .tabs * { user-select: none; }
.tabs nav { position: absolute; margin: 15px 0 0 63px; }
.tabs nav span { position: relative; display: inline-block; max-width: 150px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; height: 34px; background-color: #E0E0E0; padding: 8px 15px 0 25px; border-radius: 3px 3px 0 0; margin-left: 10px; font-size: 12px; border: 1px solid #E0E0E0; border-bottom: 0; cursor: pointer; color: gray; vertical-align: top; }
.tabs nav .selected { background-color: white; height: 35px; color: black; height: 35px; }
.tabs nav i { color: gray; font-size: 11px; position: absolute; left: 10px; top: 10px; width: 14px; }
.tabs nav .modified i { color: red; left: 8px; top: 9px; }
.tabs nav i:before { content: '\f00d'; }
.tabs nav .modified i:before { content: '\f111'; font-size: 10px; }
.tabs nav i:hover { color: red; left: 10px; }
.tabs nav i:hover:before { content: '\f00d'; font-size: 11px; }
.tabs .options { position: absolute; left: 27px; font-size: 20px; top: 12px; cursor: pointer; }
.tabs .options:hover { color: black; }
.tabs .preview { float: right; font-size: 20px; margin: 11px 13px 0 0; cursor: pointer; color: #4285F4; }
.tabs .preview:hover { opacity: 0.6; }
.td .tabs nav { margin-left: 62px; }
.td .tabs .options:hover { color: white; }
.nolocked { font-style: italic; color: gray !important; }
.td .nolocked { color: #C0C0C0 !important; }

.status { height: 35px; border-top: 1px solid #E0E0E0; padding: 0 0 0 10px; font-size: 12px; }
.status-alerts { padding: 9px 0 0; cursor: pointer; position: relative; display: inline-block; vertical-align: top; height: 34px; min-width: 42px; text-align: left; }
.status i { margin-right: 5px; }
.status-info { padding: 10px 0 0 10px; font-size: 12px; position: relative; display: inline-block; border-left: 1px solid #E0E0E0; height: 34px; vertical-align: top; color: black; width: 250px; }
.status-info code { background-color: rgba(100,100,100,0.2); padding: 1px 2px; border-radius: 2px; font-size: 12px; }
.td .status-info code { background-color: rgba(100,100,100,0.5); }
.td .status-info { border-left-color: #404040; color: white; font-family: Menlo,Consolas,monospace; }

.status-diff { position: relative; display: inline-block; height: 35px; border-left: 1px solid #E0E0E0; }
.status-diff button { width: 35px; height: 35px; border: 0; background: transparent; margin: 0; color: black; }
.status-diff button:disabled { color: gray; }
.status-diff span { width: 45px; height: 35px; vertical-align: top; display: inline-block; position: relative; text-align: center; line-height: 32px; font-size: 10px; border-left: 1px solid #E0E0E0; border-right: 1px solid #E0E0E0; color: gray; }
.status-diff button i { margin: 0; }
.status-diff button:first-child {  }
.td .status-diff button:disabled { color: #404040; background-color: #282828 !important; }
.td .status-diff button { color: white; }
.td .status-diff { border-left-color: #404040; }
.td .status-diff span { border-left-color: #404040; border-right-color: #404040; }
.td .status-diff button:hover { background-color: #303030; }

.status-modified { position: relative; display: inline-block; vertical-align: top; border-left: 1px solid #E0E0E0; margin-right: 10px; }
.status .status-modified > .initials { margin: 7px 0 0 10px; width: 23px; height: 22px; font-size: 10px; padding-top: 0; line-height: 22px; border-radius: 100px; }
.status-modified > div { padding: 8px 0 0 0; font-size: 12px; position: relative; display: inline-block; margin-left: 10px; height: 34px; vertical-align: top; color: #bf7e7f; line-height: 20px; cursor: pointer; }
.td .status-modified { border-left-color: #404040; color: white; }

@media(max-width: 767px) {
	.mainmenu { position: absolute; left: 0; right: 0; z-index: 5; padding: 0; display: none; top: 0; overflow: hidden; }
	.mainmenu .scroller-xs { padding: 20px; overflow-y: auto; overflow-scrolling: touch; }
	#body { border-left: 0; margin-left: 0; padding: 10px; }
	header .tools { margin-right: 65px; }
	header .tools span { display: none; }
	header .user { display: none; }
	header > button { display: block; }
}

.initials { width: 31px; height: 31px; text-align: center; color: white; border-radius: 100px; display: inline-block; position: relative; vertical-align: middle; padding: 7px 0 0; font-weight: bold; cursor: default; font-size: 12px; }

.collaborators { position: absolute; right: 0; top: 0; }
.collaborators section { display: inline-block; }
.collaborators .tools { float: right; font-size: 18px; padding: 0; }
.collaborators .tools span, .collaborators .tools a { color: black; position: relative; display: inline-block; transition: color 0.5s; font-size: 12px; line-height: 14px; border-left: 1px solid #E0E0E0; height: 49px; vertical-align: top; padding: 16px 0 0 0; text-align: center; width: 48px; font-size: 16px; cursor: pointer; }
.collaborators .tools span:hover, .collaborators .tools a:hover { text-decoration: none; background-color: #F0F0F0; }
.collaborators .tools span b { position: absolute; width: 20px; height: 20px; background-color: red; color: white; line-height: 20px; font-size: 10px; border-radius: 100px; z-index: 1; margin: -12px 0 0 10px; }
.collaborators .tools .selected { background-color: #F0F0F0; }
.collaborators .initials { width: 35px; height: 35px; border-radius: 0; font-size: 14px; line-height: 35px; margin: 7px -8px 0 0; float: left; padding: 0; border-radius: 100px; }
.collaborators .initials:last-child { margin-right: 10px; }
.collaborators .review { color: #8CC152 !important; }
.uncomplete { animation: uncomplete 0.5s infinite forwards alternate; }

@keyframes uncomplete {
	0% { transform: scale(1.2); }
	50% { transform: scale(1); }
}

.status-collaborators { position: relative; float: right; margin: 0; }
.status .initials { width: 30px; height: 35px; line-height: 35px; font-size: 12px; border-radius: 0; float: left; padding: 0; }

.statusform { position: absolute; bottom: 36px; background-color: #F0F0F0; left: 0; right: 0; height: 40px; z-index: 6; border-top: 1px solid #E0E0E0; padding: 8px 10px 0; }
.statusform-item input { width: 100%; outline: 0; border: 0; background-color: #F0F0F0; }

/* THEME DARK */

.cm-s-default .cm-header { padding: 5px 0 0; font-size: 16px; }
.cm-s-default .cm-headersub { font-weight: bold; color: black; line-height: 30px; }

.td .cm-s-default .cm-headersub { color: white; }

.CodeMirror .cm-bold { font-weight: bold; color: #b1b06f; }
.td .CodeMirror .cm-bold { color: #fffea6; }

.CodeMirror .cm-canceled { background-color: #E0E0E0; color: gray !important; border-radius: 100px; padding: 1px 3px; text-decoration: none !important; }
.td .CodeMirror .cm-canceled { background-color: #505050; }

.CodeMirror .cm-code { color: #505050; }
.td .CodeMirror .cm-code { color: #CCD0C8; }

.CodeMirror .cm-completed { background-color: rgba(131,176,90,0.5); color: #cbcccb; border-radius: 100px; padding: 1px 3px; text-decoration: none !important; }
.CodeMirror .cm-date { border-bottom: 2px solid white; }
.CodeMirror .cm-date-expired { color: red; border-color: red; }
.CodeMirror .cm-date-soon-expire { border-color: yellow; }
.CodeMirror .cm-date-today-expire { border-color: red; }
.CodeMirror .cm-date-tomorrow-expire { border-color: orange; }
.CodeMirror .cm-estimate { color: #808080; background-color: rgba(0,0,0,0.2); }
.CodeMirror .cm-estimate { color: #808080; background-color: rgba(0,0,0,0.2); }
.CodeMirror .cm-estimate { text-decoration: none !important; }
.CodeMirror .cm-high { font-weight: bold; color: #ffcfff; }

.CodeMirror .cm-highpriority { color: #c75b5d; }
.td .CodeMirror .cm-highpriority { color: #ffa9aa; }

.CodeMirror .cm-line { color: #404040; }
.CodeMirror .cm-minutes { color: #d0a028; }
.td .CodeMirror .cm-minutes { color: #FFCE54; }

.CodeMirror .cm-minutes { text-decoration: none !important; }
.CodeMirror .cm-priority { color: red; }
.CodeMirror .cm-quote { color: #68963e; }
.td .CodeMirror .cm-quote { color: #83b05a; }
.CodeMirror .cm-special { border: 1.3px solid rgba(0,0,0,0.2); border-radius: 2px; background-color: rgba(0,0,0,0.15); }
.CodeMirror .cm-strike { text-decoration: line-through; color: gray; }
.CodeMirror .cm-strong.cm-attribute { text-decoration: none !important; }
.CodeMirror .cm-strong.cm-canceled2 { font-weight: normal !important; }

.CodeMirror .cm-canceled2 { color: #C0C0C0; }
.td .CodeMirror .cm-canceled2 { color: #505050; }

.CodeMirror .cm-canceled2.cm-tag { color: #505050 !important; }
.CodeMirror .cm-canceled2.cm-bold { color: #505050 !important; }
.CodeMirror .cm-canceled2.cm-date { border-width: 0; }
.CodeMirror .cm-strong.cm-quote { font-weight: normal !important; }
.CodeMirror .cm-strong.cm-special { border-color: rgba(100, 100, 100, 0.7) !important; }
.CodeMirror .cm-strong.cm-strike { color: gray; }
.CodeMirror .cm-sum { color: #737366; background-color: rgba(0,0,0,0.1); border-radius: 2px; padding: 2px 5px 2px 5px; border: 1px solid #101010; }
.CodeMirror .cm-tag2 { color: #69a8dc !important; }
.CodeMirror .cm-user { color: #a2a227; font-weight: bold !important; }
.td .CodeMirror .cm-user { color: yellow; }

.CodeMirror .cm-working { background-color: #1C88BB; color: white !important; border-radius: 100px; padding: 1px 3px; text-decoration: none !important; }

.td { background-color: #202020; color: gray; }
.td #body { border-left-color: #353535; }
.td .tabs { border-bottom-color: #22242b; background-color: #181a1f; }
.td header { border-bottom-color: #353535; }
.td header .tools a { color: white; border-right-color: #353535; }
.td header .tools a:last-child { color: #CA6D6D; }
.td header .tools a:hover { background-color: #282828; }
.td header .tools .selected { background-color: #303030; }
.td header .tools .external { color: #e8d68f; }
.td .collaborators .tools .selected { background-color: #303030; }
.td .collaborators .tools span, .td .collaborators .tools a { border-left-color: #353535; color: white; }
.td .collaborators .tools span:hover, .td .collaborators .tools a:hover { text-decoration: none; background-color: #303030; }
.td .status { border-top-color: #353535; }
.td #panel .status button { background-color: #202020; border-left-color: #353535; color: white; }
.td #panel .status button:hover { background-color: #303030; }
.td .ui-tree { background-color: #202020; }
.td #panel .project { background-color: black; color: white; border-bottom-color: black; }
.td #panel .project:hover { background-color: #101010; }
.td .projectslist li { border-top-color: #353535; color: white; }
.td .projectslist li:hover { background-color: #202020; }
.td .projectslist { background-color: #101010; border-color: #353535; }
.td .ui-tree .expand { color: #a9aaae; }
.td .ui-tree .item { border-bottom-color: #353535; }
.td .ui-tree .item:hover { background-color: #303030; }
.td .ui-tree .selected { background-color: #404040 !important; color: white; }
.td .tabs nav .selected { background-color: #282c34; color: white; border-color: #181a1f; }
.td .tabs nav span { border-color: #22242b; color: gray; background-color: #1d2027; }
.td .CodeMirror { background-color: #282c34; }
.td .CodeMirror-activeline-background { background-color: rgba(0,0,0,0.1); }

.td .cm-s-default .cm-qualifier { color: gray; }
.td .cm-s-default .cm-meta { color: #ae81ff; }
.td .CodeMirror { color: #A0A0A0; }
.td div.CodeMirror-selected { background: #49483E; }
.td .CodeMirror-line::selection, .td .CodeMirror-line > span::selection, .td .CodeMirror-line > span > span::selection { background: rgba(73, 72, 62, .99); }
.td .CodeMirror-line::-moz-selection, .td .CodeMirror-line > span::-moz-selection, .td .CodeMirror-line > span > span::-moz-selection { background: rgba(73, 72, 62, .99); }
.td .CodeMirror-gutters { background: #272822; border-right: 0px; }
.td .CodeMirror-guttermarker { color: white; }
.td .CodeMirror-guttermarker-subtle { color: #d0d0d0; }
.td .CodeMirror-linenumber { color: gray; }
.td .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }
.CodeMirror .cm-working2 { color: #1C88BB; }

.td span.cm-comment { color: #6f6f6e; }
.td span.cm-atom { color: #ae81ff; }
.td span.cm-number { color: #ae81ff; }

.td span.cm-comment.cm-attribute { color: #97b757; }
.td span.cm-comment.cm-def { color: #bc9262; }
.td span.cm-comment.cm-tag { color: #bc6283; }
.td span.cm-comment.cm-type { color: #5998a6; }

.td span.cm-property, .td span.cm-attribute { color: #a6e22e; }
.td span.cm-keyword { color: #f92672; }
.td span.cm-builtin { color: #66d9ef; }
.td span.cm-string { color: #e6db74; }

.td span.cm-variable { color: #f8f8f2; }
.td span.cm-variable-2 { color: #9effff; }
.td span.cm-variable-3, .td span.cm-type { color: #66d9ef; }
.td span.cm-def { color: #fff9a1; }
.td span.cm-bracket { color: #f8f8f2; }
.td span.cm-tag { color: #f92672; }
.td span.cm-header { color: #ae81ff; }
.td span.cm-link { color: #ae81ff; }
.td span.cm-error { background: #f92672; color: #f8f8f0; }

.CodeMirror .cm-high { color: black; }
.td .CodeMirror .cm-high { color: white; }

.td .CodeMirror-matchingbracket { text-decoration: underline; color: white !important }
.td .CodeMirror-gutters { background-color: #181a1f !important; }

.td span.cm-variable-T { color: #61afef; background-color: rgba(97,175,239,0.1); }
.td span.cm-variable-API { color: #61afef; background-color: rgba(97,175,239,0.1); }
.td span.cm-variable-L { color: #56b6c2; background-color: rgba(86,182,194,0.1); }
.td span.cm-variable-A { color: #c678dd; background-color: rgba(198,120,221,0.1); }

.td .CodeMirror-simplescroll-horizontal div, .td .CodeMirror-simplescroll-vertical div { background: #151515; }
.td .CodeMirror-simplescroll-horizontal, .td .CodeMirror-simplescroll-vertical { background: #303030; }
.td .CodeMirror-overlayscroll-horizontal div, .td .CodeMirror-overlayscroll-vertical div { background: #151515; }
.td .CodeMirror-scrollbar-filler { background-color: #202020; }
.td .ui-tree .item span { color: white !important; }
.td .statusform { border-top-color: #353535; background-color: #252525; }
.td .statusform input { background-color: #252525; color: #A0A0A0; }

.td .CodeMirror-ruler { border-color: #505050; }
.td .cm-tab { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAALUlEQVR4AWNwL/AZ0njEe2DUA6Me+P//vzGQAaZBeCjwR5PQ4MGjHhj1wKgHANFXkNnNqgRuAAAAAElFTkSuQmCC) no-repeat 100% 50%; }
.td .ui-panel-title .ui-panel-button-close { border-left-color: #353535; }
.td hr { border-color: #181818; }

.infopanel-line { font-size: 11px; cursor: pointer; padding: 1px 8px; }
.infopanel-line b { float: right; width: 24px; text-align: right; color: red; }
.infopanel-line:hover { background-color: #E0E0E0; }
.infopanel-line span { margin-right: 24px; display: block; min-width: 200px; max-width: 400px; font-family: Menlo,Consolas; color: black; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

.infopanel-online { font-size: 11px; padding: 5px; color: #505050; border-top: 1px solid #E0E0E0; line-height: 14px; }
.infopanel-online .initials { float: left; width: 27px; height: 27px; font-size: 11px; line-height: 27px; padding: 0; }
.infopanel-online div { margin-left: 35px; }
.infopanel-online div b { display: block; color: black; }
.infopanel-online div span { display: block; min-width: 200px; max-width: 400px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.infopanel-online:first-child { border-top: 0; }

.td .infopanel-line:hover { background-color: #303030; }
.td .infopanel-line span { color: white; }
.td .infopanel-online { color: #A0A0A0; border-top-color: #353535; }
.td .infopanel-online b { color: white; }

.infopanel-combo { font-size: 11px; color: #666666; border-top: 1px solid #E0E0E0; padding: 2px 5px; }
.infopanel-combo b { float: right; width: 40px; text-align: right; color: black; }
.infopanel-combo span { display: block; width: 120px; margin-right: 40px; }
.infopanel-combo:first-child { border-top: 0; }
.td .infopanel-combo { color: #A0A0A0; border-top-color: #353535; }
.td .infopanel-combo b { color: white; }

.backupitem { padding: 11px 20px; border-top: 1px solid #E0E0E0; cursor: pointer; user-select: none; }
.backupitem:hover { background-color: #F0F0F0; }
.backupitem:first-child { border-top: 0; }
.backupitem .photo { float: left; width: 31px; }
.backupitem .meta { margin-left: 40px; font-size: 12px; }
.backupitem .user { font-size: 11px; }
.backupitem .date { font-weight: bold; }
.backupitem .date .raw { font-weight: normal; float: right; }
.backupitem .changes b { color: #9a9a35; }
.td .backupitem .changes b { color: yellow; }

.backupitem i { margin: 0 5px; }
.td .backupitem { border-top: 1px solid #303030; }
.td .backupitem:hover { background-color: #202020; }

.listitem { padding: 5px 20px; border-top: 1px solid #E0E0E0; user-select: none; cursor: pointer; }
.listitem > i { width: 20px; color: gray; }
.listitem:hover { background-color: #F8F8F8; }
.listitem:first-child { border-top: 0; }

.td .listitem { border-top-color: #404040; }
.td .listitem:hover { background-color: #303030; }

.changeitem { padding: 11px 20px; border-top: 1px solid #E0E0E0; user-select: none; }
.changeitem .changes { float: right; }
.changeitem .changes b { color: #9a9a35; }
.changeitem .spent b { color: #9a9a35; }
.changeitem:first-child { border-top: 0; }
.changeitem .photo { float: left; width: 31px; }
.changeitem .meta { margin-left: 40px; font-size: 12px; }
.changeitem .user { font-size: 11px; }
.changeitem .date { color: gray; }
.changeitem .date .raw { font-weight: normal; float: right; }
.changeitem i { margin-right: 5px; }
.changeitem .path { margin-top: 5px; font-weight: bold; cursor: pointer; }
.td .changeitem { border-top: 1px solid #303030; }
.td .changeitem .path { color: white; }

.changedfiles { background-color: #FFFFD5; padding: 10px 0; }
.changedfiles > div:first-child { padding: 5px 18px; color: black; font-weight: bold; font-size: 12px; }
.changedfiles i { margin-right: 5px; }
.changefile { padding: 5px 20px; color: gray; border-top: 1px solid #E0E0E0; font-size: 12px; cursor: pointer; }
.changefile:first-child { border-top: 0; }
.changefile .path { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.td .changedfiles { background-color: #303030; }
.td .changefile { color: #A0A0A0; border-color: #202020; }
.td .changedfiles > div:first-child { color: silver; }
.td .changeitem .spent b { color: yellow; }

.partscurrent { background-color: #FFFFD5; padding: 10px 0; }
.td .partscurrent { background-color: #303030; }

.todocurrent { background-color: #FFFFD5; padding: 10px 0; }
.td .todocurrent { background-color: #303030; }

.monospace { font-family: Menlo,Consolas,monospace; }
.todolist { padding: 10px 0; }
.todolist i { margin-right: 5px; }
.todo { padding: 5px 20px; color: gray; border-top: 1px solid #E0E0E0; font-size: 12px; cursor: pointer; }
.todo > div { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.todo:first-child { border-top: 0; }
.todo span { width: 30px; float: left; font-size: 10px; color: gray; font-family: monospace; }
.todo:hover { background-color: rgba(0,0,0,0.1); }
.todopath { padding: 5px 20px; font-weight: bold; color: black; margin: 15px 0 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.td .todo { color: #A0A0A0; border-color: #202020; }
.td .todolist > div:first-child { color: silver; }
.td .todopath { color: white; }

.partgroup { font-size: 14px; color: black; margin: 10px 0 2px; padding: 5px 20px; font-weight: bold; }
.partgroup:first-child { margin-top: 0; }
.part { padding: 5px 20px; color: gray; border-top: 1px solid #E0E0E0; font-size: 11px; cursor: pointer; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.part i { width: 18px; }
.part b { color: #606060; float: right; font-family: Arial; }
.part:first-child { border-top: 0; }
.part:hover { background-color: rgba(0,0,0,0.1); }
.part span { color: #A0A0A0; }
.td .part span { color: #666666; }
.td .part { color: #A0A0A0; border-color: #202020; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-family: Menlo,Consolas,monospace; }
.td .partgroup { color: white; }
.part .fa-align-left { color: #C8059B; }
.part .fa-bolt { color: #047CA5; }
.part .fa-drafting-compass { color: #C0C832; }
.part .fa-filter { color: #C8059B; }
.part .fa-code-branch { color: #70C832; }
.part .fa-plug { color: #32C8C8; }
.part .fa-tasks { color: #C0C832; }
.part .fa-link { color: #FF3030; }
.part .fa-font { color: #47B09D; }
.part .fa-paste { color: #C0C832; }
.part .fa-eye { color: #FE0086; }
.part .fa-brain { color: #C58C61; }
.part .fa-code { color: #F46372; }
.part .fa-box { color: #8D69CF; }
.part .fa-filter { color: #2CCF76; }

.td .ui-scrollbar-y span, .td .ui-scrollbar-x span{ background-color: #505050; }
.td .ui-scrollbar-y, .td .ui-scrollbar-x { background-color: #303030; }
.td .ui-scrollbar-y span:hover, .td .ui-scrollbar-x span:hover { background-color: #606060; }

.ui-panel-toolbar { padding: 5px 15px 0; height: 40px; border-bottom: 1px solid #E0E0E0; }
.td .ui-panel-toolbar { border-bottom-color: #404040; }

.codepanel .codeeditor { margin-right: 350px; }
.codepanel #realtimewindow { right: 380px; }
.codepanel .preview { margin-right: 364px; }
.colorize { animation: colorize 1.3s infinite alternate; }

@keyframes colorize {
	0% { color: #d7cd17; }
	15% { color: #83c83c; }
	30% { color: #2e67c5; }
	45% { color: #b92865; }
	60% { color: #62c9ca; }
	75% { color: white; }
	100% { color: #8c42f6; }
}

.output-response { font-size: 12px; font-family: Menlo,Consolas,monospace; }
.output-response-caption { font-weight: bold; margin-bottom: 5px; font-size: 12px; color: white; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color: #c678dd; background-color: rgba(198,120,221,0.1); }
.output-response-header { font-weight: bold; color: silver; }
.output-response-header-value { font-size: 10px; margin-bottom: 5px; color: gray; line-height: 12px; word-wrap: break-word; border-bottom: 1px dotted #404040; padding-bottom: 5px; }

.output { border-top: 1px solid #E0E0E0; padding: 10px 15px; }
.output:first-child { border-top: 0; }
.td .output { border-top-color: #303030; }

.timespentform { padding: 0 20px; }
.timespentform .date { font-size: 20px; color: #9e9e32; font-weight: bold; margin: 15px 0 10px; }
.timespentform .date i { margin-right: 10px; }
.timespentform .items > div { height: 26px; border-bottom: 1px solid #505050; margin: 2px 0 0; color: gray; }
.timespentform .items > div:last-child { color: black; }
.timespentform .items > div b { float: right; width: 40px; text-align: right; }

.td .timespentform .date { color: yellow; }
.td .timespentform .items > div:last-child { color: white !important; }

