<div data-bind="%projectsvisible__show" class="projectslist hidden">
	<ul data-jc="listmenu__code.data.id__datasource:code.projects;selector:li">
		<script type="text/html">
			<li class="exec" data-exec="code/project" data-id="{{ id }}">{{ if online }}<span>{{ online }}</span>{{ fi }}<i class="fa fa-project-diagram"></i>{{ name }}</li>
		</script>
	</ul>
</div>

<div id="panel">
	<section class="project exec" data-exec="code/projects" data-bind="!code.data__html b:value.name__title:value.name"><i class="fa fa-caret-down"></i><b>@(Choose project)</b></section>
	<div class="panel-scroller fullheight" data-margin="36">
		<div data-jc="tree__code.tree__exec:code/open;options:code/options;rename:code/rename;first:false;upload:code/upload"></div>
	</div>
	<section class="status invisible" data-bind="code.data__invisible:!value">
		<button title="@(Create file)" class="exec" data-name="file" data-exec="code/statusform"><i class="fa fa-file-text-o"></i></button>
		<button title="@(Create folder)" class="exec" data-name="directory" data-exec="code/statusform"><i class="fa fa-folder"></i></button>
		<button title="@(All uncomplete tasks)" class="exec" data-name="directory" data-exec="code/tasks_uncomplete"><i class="fa fa-tasks"></i></button>
		<button title="@(All tracked changes)" class="exec" data-exec="code/changes"><i class="fa fa-history"></i></button>
		<button title="@(Refresh directories and files)" class="exec" data-exec="code/refresh"><i class="fa fa-refresh"></i></button>
		<button title="@(Users)" class="exec" data-name="directory" data-exec="code/usersonline"><i class="fa fa-users"></i></button>
	</section>
</div>

<div id="body">
	<section class="tabs">
		<a data-bind="code.data.url__href__show" target="_blank" class="preview" title="@(Preview)"><i class="fa fa-globe"></i></a>
		<span class="options exec hidden" data-exec="code/options_editor" data-bind="code.editor.path__show"><i class="fa fa-cog"></i></span>
		<nav data-jc="tabmenu__code.editor.path__datasource:code.open;selector:span;exec:code/opentab;reorder:code/savetabs">
			<script type="text/html">
				<span data-value="{{ path }}" class="{{ if !skip }}nolocked{{ fi }}{{ if modified }} modified{{ fi }}" title="{{ path }}"><i class="fa exec" data-exec="code/close"></i>{{ name }}</span>
			</script>
		</nav>
	</section>
	<div id="content" data-margin="36">
		<div class="alert-saved hidden exec" data-bind="code.saved__show__html b" data-exec="code/syncsave"><i class="fa fa-warning"></i><b></b> @(has replaced content of this file on the server.)</div>
		<div data-bind="code.editor.path__show">
			<div data-jc="editor__code.editor.body__height:100%;shortcut:code/shortcut;contextmenu:code/contextmenu;cursor:code/cursorposition;sync:code/sync;todo:code/todo;components:code/components"></div>
		</div>
		<div class="messages">
			<div class="alert hidden" data-bind="code.backup__show" data-name="backup"><i class="fa fa-times exec" data-exec="code/warning"></i><i class="fa fa-warning"></i>@(Content of this file wasn't be saved before. Do you want to restore it?) <span class="link exec" data-name="restore" data-exec="code/warning">@(Restore)</span> @(or) <span class="link exec" data-exec="code/warning">@(Cancel)</span>.</div>
			<div class="alert hidden" data-bind="code.multiple__show" data-name="multiple"><i class="fa fa-times exec" data-exec="code/warning"></i><i class="fa fa-users"></i>@(Be careful because another user is editing content of this file.) <span class="link exec b ml5" data-exec="code/syncdata"><i class="fa fa-refresh fa-spin mr5"></i>@(Synchronize)</span> @(or) <span class="link exec" data-exec="code/warning">@(Cancel)</span>.</div>
		</div>
	</div>
	<section class="status invisible" data-bind="code.data__invisible:!value">
		<div data-bind="code.usersproject__template" class="status-collaborators">
			<script type="text/html">
				{{ foreach m in value }}
					{{ m.name | initials }}
				{{ end }}
			</script>
		</div>
		<div data-bind="code.errors__html b:value?value.length:0__.red:value && value.length>0" class="status-alerts exec" data-exec="code/warnings">
			<i class="fa fa-warning"></i><b>0</b>
		</div>
		<div class="status-modified exec" data-bind="code.current.lastmodified__template__show" data-path="common.form" data-value="'backups'">
			<script type="text/html">
				{{ if value }}
					{{ value.user | initials }}
				 	<div><i class="fa fa-history"></i><b title="{{ value.updated | format('[date]') }}" class="time" data-time="{{ value.updated | utc }}">{{ value.updated | time }}</b></div>
				{{ fi }}
			</script>
		</div>
		<div class="status-info" data-bind="code.cursor__html:code/statusinfo" title="@(Line : Char index : Selected chars)"></div>
	</section>
</div>

<div data-jc="statusform__code.statusform.name__exec:code/statusform" class="statusform hidden">
	<div class="statusform-item hidden" data-name="file">
		<input type="text" placeholder="@(Enter relative filename.js)" />
	</div>
	<div class="statusform-item hidden" data-name="directory">
		<input type="text" placeholder="@(Enter relative folder name)" />
	</div>
	<div class="statusform-item hidden" data-name="commit">
		<input type="text" placeholder="@(Describe changes for this file)" />
	</div>
</div>

<div class="collaborators hidden" data-bind="code.editor.path__show">
	<div class="tools">
		<span title="@(Tasks)" class="exec" data-path="common.form" data-value="'tasks'"><b class="hidden uncomplete" data-bind="codetasks.items --> code/codetasks_unsolved__show__html"></b><i class="fa fa-tasks"></i></span>
	</div>
	<section data-bind="code.usersfile__template">
		<script type="text/html">
			{{ foreach m in value }}
				{{ m.name | initials }}
			{{ end }}
		</script>
	</section>
</div>

<div data-jc="importer__common.form__if:tasks;url:/forms/tasks.html;cleaner:10"></div>
<div data-jc="importer__common.form__if:backups;url:/forms/backups.html;cleaner:10"></div>
<div data-jc="importer__common.form__if:changes;url:/forms/changes.html;cleaner:10"></div>
<div data-jc="importer__common.form__if:componentator;url:/forms/componentator.html;cleaner:10"></div>
<div data-jc="importer__common.form__if:components;url:/forms/components.html;cleaner:10"></div>

<script>

	var code = { SYNC: false, changes: {} };

	PLUGIN('code', function(exports) {

		code.cursor = { TYPE: 'synccur', id: user.id };

		var editor;
		var cache_scrollpos = {};
		var reg_number = /^\d+$/;

		FIND('editor', function(com) {
			exports.editor = editor = com;
		});

		exports.refresh = function() {
			exports.load(code.data.id, true);
		};

		exports.statusinfo = function(value) {
			var sel = ((value.tch || 0) - (value.fch || 0));
			var plus = '';

			if (sel && editor) {
				var text = editor.editor.getSelection();
				var l = text.length - 1;
				plus = text.charAt(l) + ' = <code>{0}</code>'.format(text.charCodeAt(l));
				if (reg_number.test(text) && (+text) > 32)
					plus += (plus ? ' &nbsp; ' : '') + text + ' = <code>{0}</code>'.format(String.fromCharCode(text));
			}

			return ((value.fline || 0) + 1) + ':' + (value.fch || 0) + (value.fline === value.tline ? (':' + sel) : '') + (plus ? (' &nbsp; ' + plus) : '');
		};

		exports.components = function(components) {

			var is = components.length > 0;

			if (!is && common.form === 'components')
				NULL('common.form');

			SET('code.components', components);

			if (is && !common.form && code.current && !code.current.$components) {
				SET('common.form', 'components');
				code.current.$components = 0;
			}
		};

		WATCH('common.form', function(path, value) {
			if (value === '' && code.current)
				code.current.$components = 1;
		});

		exports.todo = function(todo) {
			SET('codetasks.todo', todo);
			BIND('codetasks.items');
		};

		exports.codetasks_unsolved = function(value) {
			var count = 0;
			if (value && value.length) {
				for (var i = 0; i < value.length; i++) {
					if (!value[i].solved)
						count++;
				}
			}

			if (W.codetasks && W.codetasks.todo)
				count += codetasks.todo.length;

			return count > 99 ? 99 : count;
		};

		exports.append = function(val) {
			editor.editor.replaceSelection(val + '\n');
		};

		exports.move = function(line, ch) {
			var e = editor.editor;
			e.setCursor({ line: line || 0, ch: ch || 0 });
			e.centerLine(line);
			e.focus();
		};

		exports.syncdata = function() {

			var min;

			for (var i = 0; i < code.usersfile.length; i++) {
				var usr = code.usersfile[i];
				if (usr.id === user.id)
					continue;

				if (!min) {
					min = usr;
					continue;
				}

				if (min.ts && usr.ts && min.ts > usr.ts)
					min = usr;
			}

			if (min) {
				SET('code.multiple', false);
				SETTER('loading', 'show');
				FUNC.wssend({ TYPE: 'syncsend', projectid: code.projectid, connid: common.id, fromid: min.id });
			}

			exports.tablocked();
		};

		exports.syncsave = function(msg) {

			var p = 'code.saved';

			if (msg && msg.projectid === code.projectid)
				setTimeout(exports.changelog, 2000);

			if (!msg || msg instanceof jQuery || msg.id === user.id) {
				SET(p, null);
				return;
			}

			if (msg.projectid === code.projectid) {

				// Remove tab changes indicator
				if (code.SYNC && code.current.modified) {
					code.current.modified = false;
					exports.element.find('section.tabs').find('span[data-value="{0}"]'.format(code.current.path)).rclass('modified');
				}

				editor.diffgutterclear();

				SET(p, msg.user);
				setTimeout2(p, function() {
					SET(p, null);
				}, 5000);
			}
		};

		exports.synccursor = function(msg) {
			for (var i = 0; i < code.usersfile.length; i++) {
				var uf = code.usersfile[i];
				if (uf.id === msg.id) {
					editor.marker(uf.id, msg.fline, msg.fch, msg.tline, msg.tch, uf.color);
					return;
				}
			}
		};

		exports.reload = function() {

			EMIT('resize', exports.element);

			var id = READPARAMS().id;
			id && exports.load(id);

			SET('%projectsvisible', false);

			AJAX('GET /api/projects/', function(response) {

				SET('code.projects', response);

				var keys = Object.keys(localStorage);
				var projects = {};

				// Clears cache
				for (var i = 0; i < response.length; i++)
					projects[code.projects[i].id] = 1;

				for (var i = 0; i < keys.length; i++) {
					var id = keys[i].substring(0, keys[i].indexOf('_'));
					if (id && id.length > 15 && !projects[id])
						localStorage.removeItem(keys[i]);
				}
			});
		};

		exports.changes = function() {
			SET('common.form', 'changes');
		};

		exports.contextmenu = function(e, editor) {
			var items = [];
			var sel = editor.getSelections();
			var can = sel.join('').length > 0;

			if (can) {

				items.push({ name: '@(Copy)', icon: 'copy', command: 'copy' });

				if ((/js|css|html/).test(code.current.ext))
					items.push({ name: '@(Comment)', icon: 'code', value: 'comment' });

				items.push({ name: '@(Sort)', icon: 'sort-alpha-down', value: 'sort' });
				items.push({ name: '@(Encode)', icon: 'code', value: 'encode' });
				items.push({ name: '@(Decode)', icon: 'broom', value: 'decode' });
				items.push({ name: '@(Minify code)', icon: 'compress', value: 'minify' });
				items.push({ name: '@(Upper Case)', icon: 'font', value: 'upper' });
				items.push({ name: '@(Lower Case)', icon: 'font', value: 'lower' });
			}

			items.push({ name: '@(Insert)', icon: 'plus-circle green', value: 'insert' });

			SETTER('menu', 'showxy', e.pageX - 5, e.pageY - 15, items, function(value) {

				if (value.command) {
					editor.focus();
					setTimeout(function() {
						document.execCommand(value.command, true);
					}, 100);
					return;
				}

				setTimeout(function() {

					var items = [];
					var y = 0;
					var x = 20;

					if (value.value === 'sort') {

						for (var i = 0; i < sel.length; i++) {
							sel[i] = sel[i].split('\n');
							sel[i].sort();
							sel[i] = sel[i].join('\n');
						}

						editor.replaceSelections(sel);
						return;
					}

					if (value.value === 'comment') {
						for (var i = 0; i < sel.length; i++) {
							sel[i] = sel[i].split('\n');
							sel[i] = FUNC.comment(code.current.ext, sel[i]).join('\n');
						}
						editor.replaceSelections(sel);
						return;
					}

					if (value.value === 'lower' || value.value === 'upper') {
						for (var i = 0; i < sel.length; i++)
							sel[i] = value.value === 'lower' ? sel[i].toLowerCase() : sel[i].toUpperCase();
						editor.replaceSelections(sel);
						return;
					}

					if (value.value === 'insert') {

						if ((/^(js|css|html)$/).test(code.current.ext))
							items.push({ name: '@(UI components)', icon: 'chevron-right', value: 'ui' });

						items.push({ name: '@(UID)', icon: 'chevron-right', value: 'uid' });
						items.push({ name: '@(GUID)', icon: 'chevron-right', value: 'guid' });
						items.push({ name: '@(Password)', icon: 'chevron-right', value: 'password' });
						items.push({ name: '@(IP address)', icon: 'chevron-right', value: 'ip' });
						items.push({ name: '@(Date / Time)', icon: 'chevron-right', value: 'date' });
						y = -10;
					} else if (value.value === 'minify') {
						items.push({ name: '@(JavaScript)', icon: 'chevron-right', value: 'js' });
						items.push({ name: '@(HTML)', icon: 'chevron-right', value: 'html' });
						items.push({ name: '@(CSS)', icon: 'chevron-right', value: 'css' });
						y = 60;
					} else if (value.value === 'encode') {
						items.push({ name: '@(Base64)', icon: 'chevron-right', value: 'btoa' });
						items.push({ name: '@(Encode URI)', icon: 'chevron-right', value: 'encodeURIComponent' });
						items.push({ name: '@(Escape)', icon: 'chevron-right', value: 'escape' });
						items.push({ name: '@(Slug)', icon: 'chevron-right', value: 'slug' });
						items.push({ name: '@(HASH)', icon: 'chevron-right', value: 'HASH' });
						items.push({ name: '@(MD5)', icon: 'chevron-right', value: 'md5', server: true });
						items.push({ name: '@(SHA-1)', icon: 'chevron-right', value: 'sha1', server: true });
						items.push({ name: '@(SHA-256)', icon: 'chevron-right', value: 'sha256', server: true });
						items.push({ name: '@(SHA-512)', icon: 'chevron-right', value: 'sha512', server: true });
						items.push({ name: '@(CRC-32)', icon: 'chevron-right', value: 'crc32', server: true });
						items.push({ name: '@(CRC-32 unsigned)', icon: 'chevron-right', value: 'crc32unsigned', server: true });
						y = -10;
					} else {
						y = 40;
						items.push({ name: '@(Base64)', icon: 'chevron-right', value: 'atob' });
						items.push({ name: '@(Decode URI)', icon: 'chevron-right', value: 'decodeURIComponent' });
						items.push({ name: '@(Unescape)', icon: 'chevron-right', value: 'unescape' });
					}

					SETTER('menu', 'showxy', e.pageX + x, e.pageY + y, items, function(value) {

						if (value.server) {
							var model = {};
							model.type = value.value;
							model.body = sel;
							AJAX('POST /api/common/encrypt/', model, function(response) {
								editor.replaceSelections(response);
							});
							return;
						}

						switch (value.value) {
							case 'ui':
								SET('common.form', 'componentator');
								break;
							case 'uid':
							case 'ip':
								AJAX('GET /api/common/{0}/'.format(value.value), function(response) {
									editor.replaceSelection(response);
								});
								break;
							case 'date':
								editor.replaceSelection(new Date().format(null));
								break;
							case 'password':
								var pwd = GUID(15);
								for (var i = 0; i < pwd.length; i++) {
									if (i % 2 === 0)
										pwd = pwd.substring(0, i) + pwd.substring(i, i + 1).toUpperCase() + pwd.substring(i + 1);
								}
								editor.replaceSelection(pwd);
								break;
							case 'GUID':
								editor.replaceSelection(GUID(50));
								break;
							case 'guid':
								editor.replaceSelection(FUNC.guid());
								break;
							case 'encodeURIComponent':
							case 'decodeURIComponent':
							case 'atob':
							case 'btoa':
							case 'escape':
							case 'unescape':
							case 'HASH':
								for (var i = 0; i < sel.length; i++)
									sel[i] = window[value.value](sel[i]).toString();
								editor.replaceSelections(sel);
								break;
							case 'slug':
								for (var i = 0; i < sel.length; i++)
									sel[i] = sel[i][value.value]();
								editor.replaceSelections(sel);
								break;
							case 'js':
							case 'css':
							case 'html':
								AJAX('POST /api/files/minify/', { body: editor.getSelection(), type: value.value }, function(response) {
									editor.replaceSelection(response);
								});
								break;
						}
					});

				}, 200);
			});
		};

		WATCH('code.editor.body', function(path, value, type) {

			// cache
			if (type === 1 && code.editor.body) {
				setTimeout2('code.modified', function() {
					var diffel = editor.find('.cm-diff:first-child');
					if (diffel.length) {
						exports.cache_set();
						if (!code.current.modified) {
							code.current.modified = true;
							exports.element.find('section.tabs').find('span[data-value="{0}"]'.format(code.current.path)).aclass('modified');
						}
					} else if (code.current.modified) {
						code.current.modified = false;
						exports.element.find('section.tabs').find('span[data-value="{0}"]'.format(code.current.path)).rclass('modified');
					}
					exports.tablocked();
				}, 500);
			}

			if (code.current && code.current.path.substring(code.current.path.length - 3) === '.js') {
				setTimeout2('jshint', function() {
					SET('code.errors', JSHINT.errors.slice(0));
				}, 1000);
			}
		});

		exports.warning = function(el) {
			var parent = el.closest('.alert');
			switch (parent.attrd('name')) {
				case 'backup':
					if (el.attrd('name') === 'restore')
						SET('code.editor.body', exports.cache_get(code.editor.path));
					else
						exports.cache_rem(code.editor.path);
					SET('code.backup', false);
					break;
				case 'multiple':
					code.SYNC = false;
					if (code.backup) {
						exports.cache_rem(code.editor.path);
						SET('code.backup', false);
					}
					SET('code.multiple', false);
					break;
			}
			exports.tablocked();
		};

		var cache_sync = { TYPE: 'sync' };

		exports.sync = function(data) {
			// Determines how many people is editing this file?
			if (code.usersfile.length > 1 && code.SYNC) {
				cache_sync.data = STRINGIFY(data);
				cache_sync.id = common.id;
				cache_sync.projectid = code.projectid;
				FUNC.wssend(cache_sync);
			}
		};

		exports.rename = function(item, val, callback) {

			var data = {};

			data.oldpath = item.path;
			data.newpath = val;

			if (data.newpath === data.oldpath) {
				callback(false);
				return;
			}

			SETTER('loading', 'show');
			AJAX('POST /api/files/{id}/rename/'.arg(code.data), data, function(response) {
				SETTER('loading', 'hide', 500);
				exports.closetab(data.oldpath);
				callback(response.success);
				exports.load(code.data.id, true);
			});
		};

		exports.shortcut = function(type) {
			switch (type) {
				case 'nexttab':
					var index = code.current ? code.open.indexOf(code.current) : -1;
					if (index !== -1) {
						var next = code.open[index + 1];
						if (next == null && index !== 0)
							next = code.open[0];
						next && exports.opentab(next.path);
					}
					break;
				case 'F5':
					FUNC.editor_reload();
					break;
				case 'save':
					exports.save();
					break;
				case 'close':
					setTimeout2('closetab', exports.close, 200);
					break;
			}
		};

		exports.upload = function(node, files) {

			var data = new FormData();
			var name = [];

			data.append('path', node ? FUNC.getPath(node.path) : '/');

			for (var i = 0, length = files.length; i < length; i++) {
				name.push(files[i].name);
				data.append('file' + i, files[i]);
			}

			UPLOAD('POST /api/projects/{id}/upload/'.arg(code.data), data, function(response) {
				if (response instanceof Array)
					FUNC.warning(response);
				else {
					FUNC.success('Uploaded successfully: <b>' + name.join(', ') + '</b>');
					exports.load(code.data.id, true);
				}
			});
		};

		exports.open = function(item) {

			if (!item || item.children)
				return;

			var tab = code.open.findItem('path', item.path);
			if (tab && tab.loaded) {
				code.SYNC = false;
				SET('code.multiple', false);
				if (tab.path !== code.editor.path) {
					// check if the content has been modified
					exports.edit(tab);
					exports.savetabs();
				}
				exports.tablocked();
				tab.skip = true;
				exports.element.SETTER('tree', 'selectpath', tab.path, true);
				return;
			}

			var rewrite = false;

			// we can open file on the current tab
			if (!code.SYNC && code.current && !code.current.modified && !code.current.skip && (!tab || code.current.path !== tab.path)) {
				var index = code.open.indexOf(code.current);
				if (index !== -1) {
					code.open.splice(index, 1);
					exports.cache_rem(code.current);
					code.current = null;
				}
			}

			var newbie = false;
			var ext = item.path.substring(item.path.lastIndexOf('.') + 1).toLowerCase();

			switch (ext) {
				case 'pdf':
				case 'jpg':
				case 'ico':
				case 'jpeg':
				case 'png':
				case 'gif':
				case 'xls':
				case 'xlsx':
				case 'docx':
				case 'doc':
				case 'zip':
				case 'rar':
				case 'file':
				case 'nosql-binary':
					window.open('/api/download/{0}/?path={1}'.format(code.data.id, encodeURIComponent(item.path)));
					return;
			}

			code.SYNC = false;
			SET('code.multiple', false);

			AJAX('GET /api/projects/{id}/edit/'.arg(code.data), { path: item.path }, function(response) {

				if (response instanceof Array) {
					FUNC.warning(response);
					response = '';
				}

				if (!tab) {
					newbie = true;
					tab = {};
					tab.path = item.path;
					tab.name = item.name;
				}

				tab.loaded = true;
				tab.body = response;
				tab.ext = ext;

				var cache = exports.cache_get(item.path);
				SET('code.backup', cache && cache !== response);
				newbie && PUSH('code.open', tab);
				exports.edit(tab, true);
				exports.savetabs();
				exports.element.SETTER('tree', 'select2', FUNC.treeindex(code.tree, item.path), true);
				editor.editor.focus();
			});
		};

		exports.opentab = function(path) {
			exports.open({ children: null, path: path });
		};

		exports.options_editor = function(el) {

			var items = [];

			code.components && code.components.length && items.push({ value: 8, name: '@(Used UI components)', icon: 'puzzle-piece', shortcut: 'F2' });
			items.push({ value: 1, name: '@(Reload)', icon: 'refresh', shortcut: 'F5' });
			items.push({ value: 2, name: '@(Find)', icon: 'search', command: 'findPersistent' });
			items.push({ value: 2, name: '@(Replace)', icon: 'search', command: 'replaceAll' });
			items.push({ value: 3, name: '@(Convert to Tabs)', icon: 'align-right' });
			common.electron && code.data.repository && items.push({ value: 5, name: '@(Save locally)', icon: 'floppy-o' });
			items.push({ value: 4, name: '@(Restore from backup)', icon: 'history' });
			code.data.pathsync && items.push({ value: 6, name: '@(Save synchronized)', icon: 'sync green' });
			common.electron && code.data.repository && items.push({ value: 7, name: '@(Synchronize locally <strong>last changes</strong>)', icon: 'floppy-o' });

			SETTER('menu', 'show', 'left', el, items, function(item) {
				switch (item.value) {
					case 1:
						FUNC.editor_reload();
						break;
					case 2:
						setTimeout(function() {
							editor.editor.focus();
							editor.editor.execCommand(item.command);
						}, 200);
						break;
					case 3:
						if (code.SYNC)
							FUNC.warning('@(You can\'t replace all spaces to tabs in collaboration mode.)');
						else
							editor.editor.setValue(FUNC.spaces_to_tabs(editor.editor.getValue()));
						break;
					case 4:
						SET('common.form', 'backups');
						break;
					case 5:
						exports.savelocal();
						break;
					case 6:
						exports.save(false, true);
						break;
					case 7:
						exports.savelocalchanges();
						break;
					case 8:
						SET('common.form', 'components');
						break;
				}
			}, -5, -5);
		};

		exports.options = function(node, el) {

			var items = [];

			if (node.children) {
				items.push({ value: 'file', name: '@(Create file)', icon: 'file-text-o' });
				items.push({ value: 'directory', name: '@(Create directory)', icon: 'folder-o' });
			}

			items.push({ value: 3, name: '@(Rename)', icon: 'pencil' });
			!node.children && items.push({ value: 2, name: '@(Duplicate)', icon: 'copy' });
			items.push({ value: 255, name: '@(Remove)', icon: 'times-circle red' });

			SETTER('menu', 'show', 'right', el, items, function(item) {
				switch (item.value) {
					case 'file':
					case 'directory':
						SET('code.statusform.name', item.value);
						code.statusform.path = node.path + (node.path ? '/' : '');
						break;

					case 2:
						// Duplicate
						var name = node.path;

						var index = name.lastIndexOf('.');
						if (index === -1) {
							name += '-2';
						} else
							name = name.substring(0, index) + '-2' + name.substring(index);

						SET('code.statusform.name', 'file');
						SETTER('statusform', 'val', name, node.path);
						break;

					case 3:
						setTimeout(function() {
							exports.element.SETTER('tree', 'rename', node.$pointer);
						}, 500);
						break;
					case 255:
						SETTER('confirm', 'show', '@(Are you sure you want to remove <b>{0}</b>?)'.format(node.path), ['"trash-o"@(Remove)', '@(Cancel)'], function(index) {
							if (!index) {
								var data = {};
								data.path = node.path;
								SETTER('loading', 'show');
								AJAX('POST /api/files/{id}/remove/'.arg(code.data), data, function() {
									SETTER('loading', 'hide', 100);
									FUNC.success('@(Removed successfully: <b>{0}</b>.)'.format(data.path));
									SET('code.tree', FUNC.treeremove(code.tree, node.path));
								});
							}
						});
						break;
				}
			}, 20, -30);
		};

		exports.close = function(el, e) {
			var path = code.current.path;
			if (el instanceof jQuery)
				path = el.parent().attrd('value');
			var tab = code.open.findItem('path', path);
			if (tab.modified) {
				SETTER('confirm', 'show', '@(The content has been modified. <b>Do you want to <u>discard changes</u>?</b>)', ['"trash-o"@(Discard changes)', '@(Cancel)'], function(index) {
					!index && exports.closeforce(tab.path);
				});
			} else
				exports.closeforce(tab.path);
		};

		exports.closeforce = function(path) {
			common.form && SET('common.form', '');
			exports.closetab(path || code.current.path);
		};

		exports.closetab = function(path) {

			var tab = code.open.findItem('path', path);
			if (tab == null)
				return;

			var index = code.open.indexOf(tab);
			code.open.splice(index, 1);
			exports.cache_rem(tab.path);

			UPDATE('code.open');

			if (tab.path === code.editor.path) {
				if (code.open.length) {
					if (index - 1 > -1)
						index -= 1;
					else
						index = 0;
					exports.opentab(code.open[index].path);
				} else {
					FUNC.wsopen(code.data.id, '');
					$('#body').rclass('warning');
					SET('code.editor', {});
					SET('code.multiple', false);
					SET('code.backup', false);
					SET('code.current.lastmodified', null);
					exports.element.RECONFIGURE('editor', 'disabled:true');
				}
			}
			exports.savetabs();
		};

		exports.edit = function(tab, serverside) {

			if (typeof(tab) === 'string')
				tab = code.open.findItem('path', tab);

			if (common.form === 'backups')
				SET('common.form', '');

			var prev = GET('code.editor.path');
			if (prev && prev !== tab.path) {
				prev = code.open.findItem('path', prev);
				if (prev)
					prev.doc = editor.copy(true);
			}

			code.editor.loaded = false;
			editor.clear(true);

			var ext = tab.path.substring(tab.path.lastIndexOf('.') + 1).toLowerCase();
			var mode;

			switch (ext) {
				case 'src/config':
				case 'src/config-release':
				case 'src/config-debug':
				case 'src/config-test':
				case 'src/versions':
				case 'src/dependencies':
				case 'src/sitemap':
				case 'src/workflows':
				case '/config':
				case '/config-release':
				case '/config-debug':
				case '/config-test':
				case '/versions':
				case '/dependencies':
				case '/sitemap':
				case '/workflows':
				case 'resource':
				case 'package':
				case 'bundle':
					mode = 'totaljsresources';
					break;
				case 'js':
					mode = 'javascript';
					break;
				case 'json':
				case 'nosql':
					mode = 'application/ld+json';
					break;
				case 'py':
					mode = 'text/x-cython';
					break;
				case 'php':
					mode = 'application/x-httpd-php';
					break;
				case 'css':
					mode = 'text/css';
					break;
				case 'sql':
					mode = 'text/x-sql';
					break;
				case 'sh':
					mode = 'text/x-sh';
					break;
				case 'md':
					mode = 'markdown';
					break;
				case 'sass':
					mode = 'text/x-sass';
					break;
				case 'yaml':
					mode = 'text/x-yaml';
					break;
				case 'xml':
				case 'rss':
					mode = 'application/xml';
					break;
				case 'html':
				case 'htm':
					mode = 'totaljs';
					break;
				default:
					mode = 'plain';
					break;
			}

			SET('code.editor.path', tab.path);
			SET('code.editor.name', tab.name);
			code.editor.hash = HASH(tab.path);
			code.projectid = HASH(code.data.id + '_' + tab.path);

			var change = code.changes[code.projectid];
			if (change && tab.doc) {
				exports.syncsave(change);
				code.changes[code.projectid] = null;
			}

			if (JSHINT.errors) {
				JSHINT.errors.length = 0;
				SET('code.errors', EMPTYARRAY);
			}

			if (tab.doc) {
				SETR('code.editor.body', tab.body, 'skip');
				editor.paste(tab.doc);
			} else {
				editor.clear();
				SETR('code.editor.body', tab.body, 2);
				editor.paste(editor.copy(false));
			}

			setTimeout2('code.autocomplete', editor.rebuild_autocomplete, 1000);
			code.current = tab;
			editor.reconfigure('disabled:false;mode:' + mode);
			FUNC.wsopen(code.data.id, code.current.path, code.projectid);

			code.editor.loaded = true;
			!tab.doc && setTimeout(function() {
				editor.editor.refresh();
				var cache = exports.cache_getscroll(code.current.path);
				if (cache) {
					editor.editor.setCursor({ line: cache.line || 0, ch: cache.ch || 0 });
					editor.editor.scrollTo(cache.x || 0, cache.y || 0);
					editor.editor.focus();
				} else {
					editor.editor.scrollTo(0, 0);
					editor.editor.setCursor(0);
				}
			}, 250);

			// Refresh tasks
			SET('codetasks.items', []);
			AJAX('GET /api/projects/{id}/tasks/'.arg(code.data), { path: code.current.path }, 'codetasks.items');
			exports.changelog();
		};

		exports.changelog = function() {
			AJAX('GET /api/projects/{id}/changelog/'.arg(code.data), { path: code.current.path }, function(response) {
				if (code.current && code.current.lastmodified && response) {
					var tmp = code.current.lastmodified;
					if (response.user !== user.name && (tmp.user !== response.user || tmp.updated.getTime() !== response.updated.getTime()))
						FUNC.info('@(<b>{0}</b> changed this file <b>{1}</b>.)'.format(response.user, Thelpers.time(response.updated)));
				}
				SET('code.current.lastmodified', response);
			});
		};

		exports.load = function(id, skip) {

			SETTER('loading', 'show');

			AJAX('GET /api/projects/{0}/files/'.format(id), function(response) {

				if (response instanceof Array) {
					FUNC.warning(response);
					return;
				}

				var tree = [];

				for (var i = 0; i < response.directories.length; i++)
					FUNC.treeappend(tree, response.directories[i]);

				for (var i = 0; i < response.files.length; i++)
					FUNC.treeappend(tree, response.files[i], true);

				var item = tree.findItem('name', '#');
				if (item) {
					tree = tree.remove('name', '#');
					for (var i = 0; i < item.children.length; i++)
						tree.push(item.children[i]);
				}

				if (!skip)
					exports.element.SETTER('tree', 'clear');

				document.title = common.name + ': ' + response.name;
				SET('code.data', response);
				SET('code.tree', tree);

				if (!skip) {
					SET('code.editor', {});
					SET('code.open', []);
					SET('code.usersproject', EMPTYARRAY);
					SET('code.usersfile', EMPTYARRAY);
					SET('code.multiple', false);
					$('#body').rclass('warning');
					setTimeout(exports.restoretabs, 500);
				}

				SETTER('loading', 'hide', 1000);
			});
		};

		exports.project = function(el) {
			var id = el.attrd('id');
			REDIRECT('/?id=' + id);
		};

		exports.projects = function() {
			TOGGLE('%projectsvisible', true);
		};

		exports.savelocal = function(nowarning) {
			var electronpath = require('electron').ipcRenderer.sendSync('getPath', { url: location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '') });
			if (electronpath) {
				var Path = require('path');
				var filename = Path.join(electronpath, FUNC.getName(code.data.repository).replace(/\.git$/i, ''), code.editor.path);
				FUNC.mkdir(Path.dirname(filename));
				require('fs').writeFile(filename, FUNC.rtrim(editor.editor.getValue()), function(err) {
					if (err)
						FUNC.warning(err.toString());
					else
						FUNC.success('<b>{0}</b> saved.'.format(filename));
				});
			} else if (!nowarning)
				FUNC.warning('@(You don\'t have defined repository path.)');
		};

		exports.savelocalchanges = function(nowarning) {
			var electronpath = require('electron').ipcRenderer.sendSync('getPath', { url: location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '') });
			if (electronpath) {

				var Path = require('path');
				var Https = require('https');
				var Http = require('http');
				var Fs = require('fs');

				SETTER('loading', 'show');
				AJAX('GET /api/projects/{id}/changelogs/'.arg(code.data), function(response) {

					response.wait(function(item, next, index) {

						SET('common.percentage', (index / response.length) * 100);

						var filename = Path.join(electronpath, FUNC.getName(code.data.repository).replace(/\.git$/i, ''), item.path);

						if (item.removed) {
							SETTER('loading', 'show', '<i class="fa fa-floppy-o"></i><b>@(Removing:)</b> ' + item.path + '<br /><b>{0}%</b>'.format(common.percentage >> 0));
							Fs.unlink(filename, next);
						} else {

							SETTER('loading', 'show', '<i class="fa fa-floppy-o"></i><b>@(Saving:)</b> ' + item.path + '<br /><b>{0}%</b>'.format(common.percentage >> 0));

							FUNC.mkdir(Path.dirname(filename));

							var resume = function() {
								setTimeout(next, 300);
							};

							var url = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '') + '/api/download/{id}/?path='.arg(code.data) + encodeURIComponent(item.path);
							var res = function(res) {
								res.on('error', resume);
								res.on('end', resume);
								res.pipe(Fs.createWriteStream(filename));
							};

							url = require('url').parse(url);
							url.headers = {};
							url.headers.cookie = '@{config.cookie}=' + COOKIES.get('@{config.cookie}');

							if (location.protocol === 'https:')
								Https.get(url, res);
							else
								Http.get(url, res);
						}

					}, function() {
						SET('common.percentage', 100);
						SETTER('loading', 'hide');
					});
				});

			} else if (!nowarning)
				FUNC.warning('@(You don\'t have defined repository path.)');
		};

		exports.save = function(close, sync) {

			if (BLOCKED('code_saving', 1000))
				return;

			var data = {};
			data.path = code.editor.path;
			data.body = FUNC.rtrim(editor.editor.getValue());

			if (sync)
				data.sync = sync;

			code.current.modified = false;
			exports.cache_rem(code.current.path);
			exports.element.find('section.tabs').find('span[data-value="{0}"]'.format(code.current.path)).rclass('modified');

			SETTER('loading', 'show');
			AJAX('POST /api/files/{id}/ REPEAT'.arg(code.data), data, function(response) {

				SETTER('loading', 'hide', 500);
				if (close === true)
					exports.closeforce();

				editor.diffgutterclear();
				FUNC.wssend({ TYPE: 'save', projectid: code.projectid, id: user.id, user: user.name });
				FUNC.success((response.value === 'synchronized' ? '@(<b>{0}</b> saved and synchronized)' : '@(<b>{0}</b> saved)').format(data.path));
				common.electron && code.data.repository && user.localsave && exports.savelocal();
				SET('code.current.lastmodified', { user: user.name, updated: new Date() });
			});
		};

		exports.savetabs = function() {

			var arr = [];

			for (var i = 0; i < code.open.length; i++) {
				var tab = code.open[i];
				var data = {};
				data.path = tab.path;
				if (tab.path === code.current.path)
					data.focused = true;
				arr.push(data);
			}

			localStorage.setItem(code.data.id + '_tabs', STRINGIFY(arr));
		};

		exports.restoretabs = function() {
			var open = localStorage.getItem(code.data.id + '_tabs');
			if (!open)
				return;

			open = PARSE(open);

			var selected = null;
			var tabs = [];

			for (var i = 0; i < open.length; i++) {
				var tab = open[i];
				var fileindex = code.data.files.indexOf(tab.path);
				if (fileindex !== -1) {
					tab.name = code.data.files[fileindex];
					if (tab.name) {
						tab.name = tab.name.split('/');
						tab.name = tab.name[tab.name.length - 1];
						tab.body = '';
						tab.skip = true;
						tabs.push(tab);
					}

					if (tab.focused) {
						delete tab.focused;
						selected = tab;
					}
				}
			}

			tabs.length && SET('code.open', tabs);
			selected && exports.open({ children: null, path: selected.path, name: selected.name });
		};

		var colorclasses = {};

		exports.collaboration = function(msg) {

			if (code.data == null)
				return;

			if (msg.projectid === code.data.id)
				SET('code.usersproject', msg.project);

			if (code.editor && msg.fileid === code.editor.path) {
				SET('code.usersfile', msg.file);
				var colors = [];
				for (var i = 0; i < msg.file.length; i++) {
					var usr = msg.file[i];
					usr.color = Thelpers.initials(usr.name, true);
				}
				colors.length && CSS(colors.join(''));
			}

			if (msg.fileid === code.editor.path) {

				editor && editor.clearmarkers();
				$('#body').tclass('warning', code.usersfile && code.usersfile.length > 1);

				var is = !!(code.usersfile && code.usersfile.length > 1);
				SET('code.multiple', is);

				// auto-sync
				if (is && !code.current.modified && !code.backup) {
					SETTER('loading', 'show');
					if (user.id === msg.userid)
						setTimeout(exports.syncdata, 1000);
				}
			}

		};

		exports.statusform = function(name, value, type) {

			if (name instanceof jQuery) {
				// element
				SET('code.statusform.path', '');
				SET('code.statusform.name', name.attrd('name'));
				return;
			}

			if (!value)
				return;

			var data = {};

			data.path = (code.statusform.path || '') + value;
			data.folder = name !== 'file';
			data.clone = type;

			SETTER('loading', 'show');
			AJAX('POST /api/files/{id}/create/'.arg(code.data), data, function(response) {
				SETTER('loading', 'hide', 500);
				if (response.success)
					exports.load(code.data.id, true);
				else
					FUNC.warning(response);
			});
		};

		exports.usersonline = function(el) {
			AJAX('GET /api/users/online/', function(response) {
				SETTER('infopanel', 'show', el, function(el) {

					var builder = [];
					for (var i = 0; i < 10; i++) {
						var user = response[i];
						if (user == null)
							break;
						builder.push('<div class="infopanel-online"><span>{0}</span><b>{1}</b></div>'.format(user.name, user.project || '@(No file open)'));
					}

					!builder.length && FUNC.warning('@(No-one works.)');
					el.html(builder.join(''));
				}, 0, -10);
			});
		};

		exports.opentab2 = function(el) {
			exports.element.SETTER('tree', 'selectpath', el.attrd('path'));
			SET('common.form', 'tasks', 1000);
		};

		exports.tasks_uncomplete = function(el, e) {
			AJAX('GET /api/projects/{id}/tasks/uncomplete/'.arg(code.data), function(response) {
				SETTER('infopanel', 'show', el, function(el) {
					var keys = Object.keys(response);
					var builder = [];
					for (var i = 0; i < 10; i++) {
						var key = keys[i];
						if (key == null)
							break;
						var value = response[key];
						builder.push('<div class="infopanel-line exec" data-exec="code/opentab2" data-path="{0}"><b>{1}</b><span>{0}</span></div>'.format(key, value));
					}

					!builder.length && FUNC.warning('@(Project doesn\'t contain any tasks.)');
					el.html(builder.join(''));
				}, 0, -10);
			});
		};

		exports.warnings = function(el, e) {
			SETTER('infopanel', 'show', el, function(el) {
				var builder = [];
				for (var i = 0; i < 10; i++) {
					var err = code.errors && code.errors[i];
					err && builder.push('<div class="infopanel-line exec" data-exec="code/warnings_goto" data-pos="{1}x{2}"><b>:{1}</b><span>{0}</span></div>'.format(err.reason || err.raw, err.line, err.character));
				}
				!builder.length && FUNC.warning('@(File doesn\'t contain any warnings.)');
				el.html(builder.join(''));
			});
		};

		exports.warnings_goto = function(el) {
			var pos = el.attrd('pos').split('x');
			editor.editor.setCursor({ line: +pos[0] - 1, char: +pos[1] }, 200);
			editor.editor.focus();
		};

		exports.cursorposition = function(editor) {

			var a = editor.getCursor(true);
			var b = editor.getCursor(false);

			code.cursor.fline = a.line;
			code.cursor.fch = a.ch;
			code.cursor.tline = b.line;
			code.cursor.tch = b.ch;

			if (code.usersfile.length > 1 && code.SYNC) {
				code.cursor.projectid = code.projectid;
				setTimeout2('cursorposition', function() {
					FUNC.wssend(code.cursor);
				}, 300);
			}

			BIND('code.cursor');

			setTimeout2('savescrollposition', function(editor) {
				if (!code.editor.loaded)
					return;
				var info = editor.getScrollInfo();
				var key = code.projectid + '_scroll';
				if (info.left || info.top || a.line) {
					cache_scrollpos.x = info.left;
					cache_scrollpos.y = info.top;
					cache_scrollpos.line = a.line;
					cache_scrollpos.ch = a.ch;
					localStorage.setItem(key, STRINGIFY(cache_scrollpos));
				} else
					localStorage.removeItem(key);
			}, 300, null, editor);
		};

		exports.tablocked = function() {
			if (!code.current.skip) {
				code.current.skip = true;
				exports.element.FIND('tabmenu').element.find('span[data-value="{0}"]'.format(code.current.path)).rclass('nolocked');
			}
		};

		// Internal cache
		// For unexpect of closing browser
		exports.cache_set = function() {
			if (code.editor.path) {
				var key = code.data.id + '_' + code.editor.hash;
				localStorage.setItem(key, code.editor.body);
			}
		};

		exports.cache_get = function(path) {
			if (path) {
				var key = code.data.id + '_' + HASH(path);
				return localStorage.getItem(key);
			}
		};

		exports.cache_getscroll = function(path) {
			if (path) {
				var key = code.projectid + '_scroll';
				var obj = localStorage.getItem(key);
				return obj ? PARSE(obj) : null;
			}
		};

		exports.cache_rem = function() {
			if (code.editor.path) {
				var key = code.data.id + '_' + HASH(code.editor.path);
				localStorage.removeItem(key);
			}
		};
	});

</script>