<div class="container-fluid">
	<br />

	<div class="toolbar">
		<button class="exec" data-exec="projects/autodiscover"><i class="fa fa-search-plus"></i>@(Auto-Discover)</button>
		<button class="exec" data-exec="projects/create"><i class="fa fa-plus-circle green"></i>@(Add)</button>
		<button data-bind="projects.checked__disabled:!value || !value.length" class="exec" data-exec="projects/options" disabled><i class="fa fa-check-circle"></i>@(Selected)</button>
	</div>

	<div data---="datagrid__projects.grid__dblclick:projects/edit;checked:projects/checked;highlight:true;margin:20;cluster:false">
		<script type="text/plain">
			[
				{ name: 'name', text: '@(Name)', class: 'b', width: 300, template: '{{ if notfound }}<span class="badge badge-small badge-red mr5">{{ if notfound === \'offline\' }}@(offline){{ else }}@(not found){{ fi }}</span>{{ fi }}{{ name }}' },
				{ name: 'url', text: '@(URL)', width: 250 },
				{ name: 'path', text: '@(Path)', width: 250 },
				{ name: 'users', text: '@(Users)', template: '{{ foreach m in users }}<span class="badge badge-small" style="background:{{ m | color }}">{{ m }}</span>{{ end }}', width: 250 },
				{ name: 'created', text: '@(Created)', align: 'center', template: '{{ created | format(\'dd.MM.yyyy\') }}', align: 1, width: 100 }
			]
		</script>
	</div>

</div>

<div data---="importer__common.form__if:projectsform;url:/forms/project.html"></div>

<script>

	PLUGIN('projects', function(exports) {

		exports.create = function() {
			SET('projectsform.id', null);
			DEFAULT('projectsform.*');
			SET('common.form', 'projectsform');
		};

		exports.refresh = function() {
			AJAX('GET /api/projects/?check=1', 'projects.grid');
		};

		exports.reload = function() {
			setTimeout(EXEC2('#resize'), 100);
			exports.refresh();
		};

		exports.edit = function(row) {
			row && AJAX('GET /api/projects/{id}/'.arg(row), function(response) {
				SETR('projectsform', response);
				SET('common.form', 'projectsform');
			});
		};

		exports.checked = function(rows) {
			SET('projects.checked', rows);
		};

		exports.autodiscover = function() {
			SETTER('approve/show', '@(Are you sure you want to perform auto-discover of projects?)', '"search-plus" @(Discover) #4285F4', function() {
				SETTER('loading/show');
				AJAX('GET /api/projects/discover/', function() {
					setTimeout(function() {
						SETTER('loading/hide', 500);
						exports.refresh();
					}, 4000);
				});
			});
		};

		exports.options = function(el) {

			var items = [];

			items.push({ value: 1, name: '@(Clear backups)', icon: 'trash-o' });
			items.push({ value: 255, name: '@(Remove)', icon: 'times-circle red' });

			SETTER('menu/show', 'left', el, items, function(item) {
				switch (item.value) {
					case 1:
						SETTER('approve/show', '@(Are you sure you want to remove all backups for selected projects?)', '"trash-o"@(Remove)', function() {
							SETTER('loading/show');
							projects.checked.wait(function(item, next) {
								AJAX('DELETE /api/projects/{id}/backups/'.arg(item), next);
							}, function() {
								SETTER('loading/hide', 100);
								SETTER('notifybar/success', '@(All backups of selected projects have been removed.)');
								exports.refresh();
							});
						});
						break;

					case 255:
						SETTER('approve/show', '@(Are you sure you want to remove selected projects?)', '"trash-o"@(Remove)', function() {
							SETTER('loading/show');
							projects.checked.wait(function(item, next) {
								AJAX('DELETE /api/projects/{id}/'.arg(item), next);
							}, function() {
								SETTER('loading/hide', 100);
								SETTER('notifybar/success', '@(Selected projects have been removed.)');
								exports.refresh();
							});
						});
						break;
				}
			});
		};

	});

</script>