<div class="container-fluid">
	<br />

	<div class="toolbar">
		<button class="exec" data-exec="projects/autodiscover"><i class="ti ti-search-plus"></i>@(Auto-Discover)</button>
		<button class="exec" data-exec="projects/create"><i class="ti ti-plus-circle green"></i>@(Add)</button>
		<button data-bind="projects.checked__disabled:!value || !value.length" class="exec" data-exec="projects/options" disabled><i class="ti ti-check-circle"></i>@(Selected)</button>
	</div>

	<div data---="datagrid__projects.grid__click:projects/edit;checked:projects/checked;margin:20;cluster:false">
		<script type="text/plain">
			[
				'{{ if hidden }} silver{{ fi }}',
				{ name: 'name', text: '@(Name)', class: 'b highlight', width: 300, template: '{{ if running }}<i class="ti ti-spin ti-spinner green mr5"></i>{{ fi }}{{ if notfound }}<span class="badge badge-small badge-red mr5">{{ if notfound === \'offline\' }}@(offline){{ else }}@(not found){{ fi }}</span>{{ fi }}{{ if pinned }}<i class="ti ti-pin-alt mr5 orange"></i>{{ fi }}{{ if errors }}<span class="red" title="{{ errors }}">{{ fi }}{{ name }}{{ if errors }}<span class="badge badge-small badge-red ml5">@(errors)</span></span>{{ fi }}' },
				{ name: 'url', text: '@(URL)', width: 250 },
				{ name: 'path', text: '@(Path)', width: 250 },
				{ name: 'users', text: '@(Users)', template: '{{ foreach m in users }}<span class="badge badge-small" style="background:{{ m | color }}">{{ m }}</span>{{ end }}', width: 250 },
				{ name: 'iserror', text: '@(Errors)', width: 100, type: 'boolean', options: [{ text: 'yes', value: true }, { text: 'no', value: false }], align: 1 },
				{ name: 'running', text: '@(Running)', width: 100, type: 'boolean', options: [{ text: 'yes', value: true }, { text: 'no', value: false }], align: 1 },
				{ name: 'cpu', text: '@(CPU)', width: 120, template: '{{ if running }}{{ cpu }}%{{ else }}---{{ fi }}', align: 2 },
				{ name: 'memory', text: '@(Memory)', width: 120, template: '{{ if running }}{{ memory | format(1) }} MB{{ else }}---{{ fi }}', align: 2, type: 'number' },
				{ name: 'network', text: '@(Network)', width: 120, template: '{{ if running }}{{ network | format(1) }} MB{{ else }}---{{ fi }}', align: 2, type: 'number' },
				{ name: 'created', text: '@(Created)', align: 'center', template: '{{ created | format(\'dd.MM.yyyy\') }}', align: 1, width: 120 }
			]
		</script>
	</div>

</div>

<div data---="importer__common.form__if:projectsform;url:/forms/project.html"></div>

<script>

	PLUGIN('projects', function(exports) {

		function random() {
			var val = 'abcdefghijklmnoprstuwxyz'.split('');
			for (var i = val.length - 1; i > 0; i--) {
				var j = Math.floor(Math.random() * (i + 1));
				var temp = val[i];
				val[i] = val[j];
				val[j] = temp;
			}
			return val.join('').substring(0, 6);
		}

		exports.create = function(el) {

			var opt = {};
			opt.element = el;
			opt.summary = '@(Enter URL address to your web app)';
			opt.value = common.origin ? common.origin.format(random()) : location.origin.indexOf('.localhost') === -1 ? 'https://' : 'http://';
			opt.monospace = true;
			opt.offsetWidth = 300;
			opt.offsetY = 10;
			opt.callback = function(val) {

				var url = '';
				var path = '';
				var isexternal = false;

				if (val.substring(0, 11) === 'external://') {
					path = val;
					url = 'https://www.totaljs.com';
					isexternal = true;
				} else {
					url = val.replace(/^(http|https):\/\//gi, '').replace(/\//g, '');
					if (url) {
						var arr = url.split('.');
						arr.reverse();
						var tmp = arr[1];
						arr[1] = arr[0];
						arr[0] = tmp;
						path = arr.join('-').replace('-', '_') + (path ? path.replace(/\//g, '--').replace(/--$/g, '') : '');
					}
					url = val;
				}

				SET('projectsform @default', { id: null, url: url, name: path.substring(11), path: isexternal ? path : ('/www/www/' + (path ? (path + '/') : '')), isexternal: isexternal });
				SET('common.form', 'projectsform');
				path && setTimeout(() => CHANGE('projectsform.name'), 1500);
			};

			if (common.cloud)
				opt.callback(opt.value);
			else
				SETTER('floatinginput/show', opt);
		};

		exports.refresh = function() {
			AJAX('GET /api/projects/?check=1', function(response) {

				for (var m of response) {
					if (m.stats) {
						m.cpu = m.stats.cpu;
						m.memory = m.stats.mem;
						m.network = m.stats.net;
					} else {
						m.memory = 0;
						m.network = 0;
						m.cpu = 0;
					}

					if (m.logs) {
						var index = m.logs.indexOf('Error');
						if (index !== -1) {
							var beg = index - 50;
							if (beg < 0)
								beg = 0;
							var end = index + 70;
							m.errors = m.logs.replace(/\n|\t|\s{2,}/g, ' ').substring(beg, end).trim();
							m.iserror = true;
						} else
							m.iserror = false;
					}
				}

				SET('projects.grid', response);
			});
		};

		exports.reload = function() {
			setTimeout(AEXEC('#resize'), 100);
			exports.refresh();
		};

		exports.edit = function(row) {
			row && AJAX('GET /api/projects/{id}/'.arg(row), function(response) {
				SET('projectsform @reset', response);
				SET('common.form', 'projectsform');
			});
		};

		exports.checked = function(rows) {
			SET('projects.checked', rows);
		};

		exports.autodiscover = function() {
			SETTER('approve/show', '@(Are you sure you want to perform auto-discover of projects?)', '"search-plus" @(Discover) #4285F4', function() {
				SETTER('loading/show');
				AJAX('GET /api/projects/discover/', function() {
					setTimeout(function() {
						SETTER('loading/hide', 500);
						exports.refresh();
					}, 4000);
				});
			});
		};

		exports.options = function(el) {

			var items = [];
			var refreshcurrent = false;

			items.push({ value: 2, name: '@(Run Docker)', icon: 'docker color' });
			items.push({ value: 3, name: '@(Stop Docker)', icon: 'stop-alt red' });
			items.push({ value: 250, name: '@(Restart)', icon: 'refresh' });
			items.push('-');
			items.push({ value: 1, name: '@(Clear backups)', icon: 'clean' });
			items.push({ value: 254, name: '@(Unregister)', icon: 'sign-out orange' });
			items.push('-');
			items.push({ value: 255, name: '@(Remove)', icon: 'remove red' });

			SETTER('menu/show', 'left', el, items, function(item) {
				switch (item.value) {
					case 1:
						SETTER('approve/show', '@(Are you sure you want to remove all backups for selected projects?)', '"ti ti-clean" @(Remove)', function() {
							SETTER('loading/show');
							projects.checked.wait(function(item, next) {
								AJAX('DELETE /api/projects/{id}/backups/'.arg(item), next);
							}, function() {
								SETTER('loading/hide', 100);
								SETTER('notifybar/success', '@(All backups of selected projects have been removed.)');
								exports.refresh();
							});
						});
						break;

					case 2:
						SETTER('approve/show', '@(Are you sure you want to perform run Docker for the selected projects?)', '"ti ti-docker" @(Continue)', function() {
							SETTER('loading/show');
							var index = 0;
							projects.checked.wait(function(item, next) {
								index++;
								var data = {};
								data.id = item.id;
								data.type = 'start';
								SET('common.percentage', (index * 100) / projects.checked.length);
								AJAX('POST /api/docker/state/', data, next);
							}, function() {
								SETTER('loading/hide', 100);
								exports.refresh();
							});
						});
						break;

					case 3:
						SETTER('approve/show', '@(Are you sure you want to perform stop Docker for the selected projects?)', '"ti ti-docker" @(Continue)', function() {
							SETTER('loading/show');
							var index = 0;
							projects.checked.wait(function(item, next) {
								index++;
								var data = {};
								data.id = item.id;
								data.type = 'stop';
								SET('common.percentage', (index * 100) / projects.checked.length);
								AJAX('POST /api/docker/state/', data, next);
							}, function() {
								SETTER('loading/hide', 100);
								exports.refresh();
							});
						});
						break;

					case 250:
						SETTER('approve/show', '@(Are you sure you want to restart selected projects?)', '"ti ti-refresh" @(Restart)', function() {
							SETTER('loading/show');
							var index = 0;
							projects.checked.wait(function(item, next) {
								index++;
								SET('common.percentage', (index * 100) / projects.checked.length);
								if (item.running) {
									var data = {};
									data.id = item.id;
									data.type = 'restart';
									AJAX('POST /api/docker/state/', data, next);
								} else
									next();
							}, function() {
								SETTER('loading/hide', 100);
								exports.refresh();
							});
						});
						break;
					case 254:
						SETTER('approve/show', '@(Are you sure you want to unregister selected projects?)', '"ti ti-sign-out" @(Remove)', function() {
							SETTER('loading/show');
							projects.checked.wait(function(item, next) {
								if (W.code && W.code.data && item.id === W.code.data.id)
									refreshcurrent = true;
								AJAX('DELETE /api/projects/{id}/'.arg(item), next);
							}, function() {
								SETTER('loading/hide', 100);
								SETTER('notifybar/success', '@(Selected projects have been unregistered.)');
								exports.refresh();
								refreshcurrent && EXEC('code/refresh');
							});
						});
						break;

					case 255:
						SETTER('approve/show', '@(Are you sure you want to remove selected projects with all files?)', '"ti ti-trash" @(Remove)', function() {
							SETTER('loading/show');
							projects.checked.wait(function(item, next) {
								if (W.code && W.code.data && item.id === W.code.data.id)
									refreshcurrent = true;
								AJAX('DELETE /api/projects/{id}/?remove=1'.arg(item), next);
							}, function() {
								SETTER('loading/hide', 100);
								SETTER('notifybar/success', '@(Selected projects have been removed.)');
								exports.refresh();
								refreshcurrent && EXEC('code/refresh');
							});
						});
						break;
				}
			});
		};

	});

</script>